Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

🎨 style: コードフォーマットを修正
  frontend/src/features/bookshelf/components/BookForm.tsx
Due: frontend-lint

fix: Book型のidをnumberに修正、completedAtプロパティを追加
  frontend/src/features/bookshelf/components/BookForm.tsx
  frontend/src/features/bookshelf/components/EditBookModal.tsx
  frontend/src/features/bookshelf/queries/useUpdateBook.ts
Due: frontend-lint

fix: フォーマット修正
  frontend/src/features/bookshelf/components/BookForm.tsx
Due: frontend-lint

✨ feat: BookRepository.findByIdのエラーハンドリング強化 (#821)
  api/src/interfaces/repository/book.ts
  api/src/repositories/BookRepository.test.ts
  api/src/repositories/BookRepository.ts
  api/src/routes/bookshelf.ts
  api/src/services/BookshelfService.test.ts
  api/src/services/BookshelfService.ts
Due: api-lint

✨ feat: 本棚詳細画面の実装 (#810)
  frontend/src/app/bookshelf/[id]/page.tsx
  frontend/src/features/bookshelf/queries/useGetBook.ts
Due: frontend-lint

✅ test: 本棚機能テストのアサーション改善
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🐛 fix: テストアサーションを具体的に改善
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

✨ refactor: BookNotFoundErrorのコンストラクタを改善
  api/src/exceptions/bookshelf.ts
  api/src/services/BookshelfService.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🐛 fix: Book型定義の不整合を修正
  frontend/src/features/bookshelf/types/index.ts
Due: frontend-lint

🐛 fix: APIのTypeScriptエラーとany型警告を修正
  api/src/repositories/BookRepository.test.ts
  api/src/routes/seed.ts
  api/src/scripts/seed.ts
  api/src/services/seed.ts
  api/tests/unit/repositories/duplicate-fix-verification.test.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🔒 feat: BookFormコンポーネントのURL検証を強化
  frontend/src/features/bookshelf/components/BookForm.tsx
Due: frontend-lint

✨ feat: モーダルのアクセシビリティを向上
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/EditBookModal.tsx
  frontend/src/features/bookshelf/hooks/useFocusTrap.ts
Due: frontend-lint

♻️ refactor: ID検証処理の共通化
  api/src/routes/bookshelf.ts
Due: api-lint

🐛 fix: BookNotFoundErrorのコンストラクタを改善
  api/src/exceptions/bookshelf.ts
  api/src/services/BookshelfService.ts
Due: api-lint

🔒 本棚詳細画面: 外部URLリンクのセキュリティ強化
  frontend/src/app/bookshelf/[id]/page.tsx
Due: frontend-lint

✨ feat: エラークラスにHTTPステータスコードを統合して拡張性を向上
  api/src/exceptions/bookshelf.ts
  api/src/routes/bookshelf.ts
Due: api-lint

🐛 TypeScriptビルドエラーを修正: nullチェックを追加
  frontend/src/app/bookshelf/[id]/page.tsx
Due: frontend-lint

⚡ 本棚詳細画面: ヘルパー関数のパフォーマンス最適化
  frontend/src/app/bookshelf/[id]/page.tsx
Due: frontend-lint

🌏 i18n: エラーメッセージを日本語化
  api/src/repositories/BookRepository.test.ts
  api/src/repositories/BookRepository.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/BookshelfService.test.ts
  api/src/services/bookmark.ts
  api/tests/unit/repositories/bookmark.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/services/bookmark.test.ts
  api/tests/unit/services/markAsUnread.test.ts
Due: api-lint

🔧 fix: Lintエラーを修正
  api/src/repositories/BookRepository.test.ts
  api/src/routes/bookmarks.ts
  api/src/routes/seed.ts
  api/tests/unit/repositories/duplicate-fix-verification.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🛡️ fix: 本棚詳細画面のID型変換エラーハンドリングを改善
  frontend/src/app/bookshelf/[id]/page.tsx
Due: frontend-lint

🔧 chore: APIとフロントエンドにtypecheckスクリプトを追加 (#840)
  frontend/package.json
Due: frontend-lint

🔧 chore: APIにtypecheckスクリプトを追加し、CLAUDE.mdを更新 (#840)
  CLAUDE.md
  api/package.json
Due: api-lint

🔧 refactor: ID検証ロジックの改善とフックの呼び出し順序修正
  frontend/src/app/bookshelf/[id]/page.tsx
Due: frontend-lint

🐛 fix: セルフホストランナーのpnpmセットアップエラーを修正 (#840)
  .github/workflows/ci-api.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
Due: none

🐛 fix: TypeScript型エラーを修正
  frontend/src/app/bookshelf/[id]/page.tsx
Due: frontend-lint

refactor: BookNotFoundErrorのbookshelfIdパラメータをオプショナルに変更
  api/src/exceptions/bookshelf.ts
  api/src/routes/bookshelf.ts
  api/src/services/BookshelfService.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🔍 test: エラーアサーションを適切な形式に改善
  api/tests/unit/routes/labels.test.ts
Due: api-lint

♿ feat: 本棚詳細画面のアクセシビリティを強化
  frontend/src/app/bookshelf/[id]/page.tsx
Due: frontend-lint

🔒 feat: 本棚機能の型安全性を向上 (#848)
  frontend/src/app/bookshelf/[id]/page.tsx
  frontend/src/features/bookshelf/queries/useGetBook.ts
  frontend/src/features/bookshelf/types.ts
Due: frontend-lint

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

📝 docs: Repository Guidelines (AGENTS.md) を追加
  AGENTS.md
Due: none

🧹 chore: MCP向けCIワークフローを削除
  .github/workflows/ci-mcp.yml
Due: none

Delete .github/workflows/manual-labeling.yml
  .github/workflows/manual-labeling.yml
Due: none

Delete .github/workflows/auto-labeling.yml
  .github/workflows/auto-labeling.yml
Due: none

✨ feat: 本棚APIクライアントのエラーハンドリングを強化
  frontend/src/features/bookshelf/queries/api.ts
Due: frontend-lint

🧹 chore: 不要なエージェントファイルを削除
  .claude/agents/backend-developer.md
  .claude/agents/frontend-developer.md
  .claude/agents/git-operations.md
  .claude/agents/review-reader.md
  .claude/agents/review-responder.md
Due: none

🔧 refactor: BookshelfService.assertBookExistsメソッドのエラーハンドリング改善
  api/src/exceptions/bookshelf.ts
  api/src/services/BookshelfService.test.ts
  api/src/services/BookshelfService.ts
Due: api-lint

🔧 fix: Claude Code Reviewワークフローをコメントトリガーからプルリクエストトリガーに変更
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
