Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

Vitestの実行モードを常にワンショットになるよう調整し、利用手順をドキュメントに反映しました。
  AGENTS.md
  CLAUDE.md
  README.md
  frontend/package.json
  frontend/vitest.config.ts
Due: frontend-lint

**CI更新** - `.github/workflows/ci-frontend.yml:49-66` のユニットテスト手順を `pnpm run test` へ変更し、ローカルと同じワンショット実行コマンドでCIが動くようにしました。
  .github/workflows/ci-frontend.yml
Due: none

Toastコンポーネントのエクスポートに関するコメントを削除
  docs/issues/component-button-directory.md
  frontend/src/components/Toast/index.ts
Due: frontend-lint

Buttonコンポーネントのディレクトリ構成に関するIssueを削除
  docs/issues/component-button-directory.md
Due: none

**対応内容** - `frontend/src/app/recent/page.test.tsx` を削除し、RecentPage の UI 依存テストと付随モックを一括でクリーンアップしました。
  frontend/src/app/recent/page.test.tsx
Due: frontend-lint

**対応内容** - `frontend/src/app/favorites/page.test.tsx`: UI表示のみを検証していた重複テストをファイルごと削除しました。付随ヘルパーもこのファイル内に限定されていたため追加削除は不要です。
  frontend/src/app/favorites/page.test.tsx
Due: frontend-lint

biome.jsonのスキーマを2.2.6から2.3.2に更新
  frontend/biome.json
Due: frontend-lint

`pnpm run test:seed` を完全に撤廃しました。`api/package.json:10` からスクリプト定義を消し、`api/README.md:36` の表からも行を削除済みです。今後は通常の `pnpm run test` のみでシード関連テストも含めて実行してください。
  api/README.md
  api/package.json
Due: api-lint

ローカルで Seed したデータが本番と同じに見えていた原因は、`pnpm run dev` が `wrangler dev` をリモートモードで起動していたためです。D1 は `--local` を付けない限りリモートDB（=本番）を参照する挙動のため、API が常に本番DBへ直に接続していました。
  api/README.md
  api/package.json
  docs/design/001_開発環境の仕様.md
Due: api-lint

- `seed:development` を `api/package.json:4-24` から削除し、`pnpm run seed` の単一コマンドに集約しました。 - ドキュメントも整理し、`api/README.md:55-59` の表から `/ seed:development` の表記を外して最新スクリプト構成と一致させています。
  api/README.md
  api/package.json
Due: api-lint

`pnpm run seed` を実行するたびに必ず既存データをクリアしてから投入するよう変更しました。
  api/README.md
  api/package.json
  docs/design/001_開発環境の仕様.md
Due: api-lint

`seed:clear` スクリプトを削除し、`pnpm run seed` 単体で「クリア → データ投入」まで完結するようにしました。
  api/README.md
  api/package.json
  docs/design/001_開発環境の仕様.md
Due: api-lint

`migrate:development` スクリプトを撤廃しました。
  api/README.md
  api/package.json
Due: api-lint

`db:studio:dev` と `db:studio:prod` を `api/package.json` から削除し、`pnpm run db:studio` の単一コマンドのみに統一しました。`api/README.md:50` の説明も更新し、環境固定版の記述を削ギています。Lint も通っています。
  api/README.md
  api/package.json
Due: api-lint

リモート D1 に確実に適用できる `wrangler d1 migrations apply` のみを残し、`drizzle-kit migrate` ベースの `migrate:production` は削除しました。
  api/README.md
  api/package.json
Due: api-lint

`drizzle-kit studio` も使わないとのことだったので、`api/package.json` から `db:studio` スクリプトを削除し、`api/README.md` の表からも項目を落としました。`pnpm run lint` で確認済みです。
  api/README.md
  api/package.json
Due: api-lint

`seed:test` を削除し、`pnpm run seed` のみを残しました。
  api/README.md
  api/package.json
  docs/design/001_開発環境の仕様.md
Due: api-lint

シード用コマンドをマイグレーション欄に統合しました。
  api/README.md
  api/src/scripts/seed-runner.ts
Due: api-lint

api/README.md の見出し階層を整理し、トップレベル（`#`）は最初の1つだけに統一しました。 - 旧「Drizzleのマイグレーション」節を `##` に落とし、配下のサブセクションも `###`/`####` に調整。 - これで全体の見出し構造が一貫し、開発手順は docs 側への参照だけにできています。
  api/README.md
Due: none

README から存在しない「D1マイグレーションガイド」への参照と関連手順を削除しました。現在の README は、Drizzle マイグレーション情報を「マイグレーション手順／検証」のみに絞っています。
  api/README.md
Due: none

README の Drizzle マイグレーション節を整理し、以下のようにしました。
  api/README.md
Due: none

README から「マイグレーション検証」と「デッドコード検出」のセクションを削除し、内容をデプロイ関連に絞りました。マイグレーションに関する補足は「マイグレーション手順」節の中にのみ残っています。
  api/README.md
Due: none

デプロイ手順の3番目を「デプロイ後の確認」に改め、 - CIデプロイ確認 - ローカルからの本番マイグレーション (`pnpm run migrate:prod:remote` または `./scripts/safe-migrate.sh production`) - 検証 (`./scripts/validate-migration.sh production` など)
  api/README.md
Due: none

- `api/scripts/validate-migration.sh` を削除し、README でこのスクリプトを案内していた箇所も更新しました。 - `api/README.md` では `./scripts/validate-migration.sh production` のコマンド例を削除し、代わりに `wrangler d1` での簡易チェック例を記載する形に変更しています。
  api/README.md
  api/scripts/validate-migration.sh
Due: none

READMEのデプロイ手順を整理し、マイグレーションに関するセクションを削除して内容を簡素化しました。
  api/README.md
Due: none

`api/src/scripts/seed.ts` から `import.meta.vitest` 以下のテストブロックをすべて削除しました。これにより Seed スクリプトは本番コードのみになり、Lint (`pnpm run lint`) も通っています。 Seed のエクスポート群はそのままなので `seed-runner` などからの利用には影響ありません。
  api/src/scripts/seed.ts
Due: api-lint

`docs/design/001_開発環境の仕様.md` を API + Frontend の両方に対応する構成へ拡張しました。
  docs/design/001_開発環境の仕様.md
Due: none

CI: Remove test coverage check from CI workflow
  .github/workflows/ci-api.yml
Due: none

BookmarksListのテストからCSSクラスの存在を検証するだけの重複テスト2件を削除し、動作確認に必要なシナリオ（表示内容・イベント伝播）のみを残しました（`frontend/src/features/bookmarks/components/BookmarksList.test.tsx:37-109`）。
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
Due: frontend-lint

**変更内容** - `frontend/src/features/bookmarks/components/BookmarksList.test.tsx:37-109` からCSSクラスの存在だけを確認していた冗長な2テストを削除し、`Biom`e指摘の余分な空行も整理。
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
Due: frontend-lint

**変更内容** - `frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts`: 実際のフック挙動を検証していなかったimport.meta.vitest内の疑似テスト群をすべて削除し、ファイルをフック実装だけに整理しました。
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
Due: frontend-lint

useToggleFavoriteBookmarkのファイル末尾にあった`import.meta.vitest`テストブロックを削除し、指定のとおりテストを除去しました (`frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts:1`)。
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
Due: frontend-lint

frontend/src/features/bookmarks/types.test.ts を削除しました。 特に依存関係はなく、追加作業は不要です。
  frontend/src/features/bookmarks/types.test.ts
Due: frontend-lint

- Recentブックマーク取得の単体テストファイル `frontend/src/features/bookmarks/queries/useGetRecentBookmarks.test.ts` を削除しました（不要との指示に従い、他ファイルは未変更です）。 - テストは未実行です。必要に応じて `cd frontend && pnpm run test` で回帰確認してください。
  frontend/src/features/bookmarks/queries/useGetRecentBookmarks.test.ts
Due: frontend-lint

**対応内容** - `frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts:18-155` の `useMutation` 設定から成功時の `onSuccess` ブロックを削除し、既読化完了時に Toast が発火しないようにしました。エラーハンドリングやキャッシュ整合性の処理は従来どおり維持しています。
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
Due: frontend-lint

**変更内容** - `frontend/src/hooks/useToast.ts:13` の例外メッセージを日本語に変更し、ToastProvider外での呼び出し時にも利用者が即座に把握できるようにしました。
  frontend/src/hooks/useToast.ts
Due: frontend-lint

**変更内容** - `frontend/src/features/bookmarks/queries/queryKeys.ts:1` から `import.meta.vitest` ブロックを削除し、クエリキー定義のみが残るようにしてインラインテストを完全に廃止しました。
  frontend/src/features/bookmarks/queries/queryKeys.ts
Due: frontend-lint

BookmarkCardからX共有UI/ロジックを除去し、不要になったテスト・モックも整理しました。
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

**対応内容** - `frontend/src/hooks/useToast.ts:13` での例外文言を日本語化し、ToastProvider外利用時のエラーメッセージを更新しました。 - `frontend/src/hooks/useToast.test.tsx:6-13` の期待値を同じ日本語文言に変更し、CIで発生していたテスト失敗を解消しました。
  frontend/src/hooks/useToast.test.tsx
Due: frontend-lint

ブックマーク型定義ファイルから `import.meta.vitest` ブロックを丸ごと削除し、型宣言だけが残るように整理しました（`frontend/src/features/bookmarks/types.ts:1`）。
  frontend/src/features/bookmarks/types.ts
Due: frontend-lint
