Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

chore: biomeschemaを2.2.6に更新し、未使用のブックマークスキーマを削除
  mcp/biome.json
  mcp/src/lib/apiClient.ts
Due: mcp-lint

chore: tsconfig.jsonのフォーマットを整え、未使用の型を削除
  mcp/tsconfig.json
Due: mcp-lint

docs: 不要なドキュメントを除却
  docs/機能仕様/本棚機能/01_設計書.md
  docs/機能仕様/本棚機能/02_実装ロードマップ.md
  docs/機能仕様/記事評価ポイント機能/01_概要.md
  docs/機能仕様/記事評価ポイント機能/02_機能要件.md
  docs/機能仕様/記事評価ポイント機能/03_データモデル.md
  docs/機能仕様/記事評価ポイント機能/04_MCP設計.md
  docs/機能仕様/記事評価ポイント機能/05_API設計.md
  docs/機能仕様/記事評価ポイント機能/06_フロントエンド設計.md
  docs/機能仕様/記事評価ポイント機能/07_実装計画.md
  docs/機能仕様/記事評価ポイント機能/README.md
Due: none

🧹 chore: フロントE2E依存の撤去と調整
  AGENTS.md
  CLAUDE.md
  biome.json
  frontend/e2e/README.md
  frontend/e2e/fixtures/test-data.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/tests/essential-scenarios.spec.ts
  frontend/e2e/tests/homepage.spec.ts
  frontend/e2e/tests/homepage.spec.ts.bak
  frontend/e2e/utils/test-helpers.ts
  frontend/mock-api-server.js
  frontend/package.json
  frontend/playwright.config.mjs
  frontend/pnpm-lock.yaml
  frontend/src/app/bookshelf/[id]/page.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.tsx
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookForm.tsx
  frontend/src/features/bookshelf/components/EditBookModal.tsx
  frontend/src/features/labels/components/LabelCreateForm.tsx
  frontend/src/features/labels/components/LabelDeleteConfirm.test.tsx
  frontend/src/features/labels/components/LabelDeleteConfirm.tsx
  frontend/src/features/labels/components/LabelEditForm.tsx
  frontend/src/features/labels/queries/api.ts
  frontend/src/features/labels/queries/queryKeys.ts
  frontend/src/types/api.ts
  frontend/start-servers.js
  frontend/vitest.config.ts
  package.json
Due: frontend-lint

docs: 不要ファイルを削除
  docs/README.md
  docs/機能仕様/アクセス制御/README.md
  docs/要望メモ/Cloudflare Accessによるアクセス制御.md
  docs/要望メモ/最近読んだ記事一覧ページ.md
  docs/調査_設計等/D1マイグレーションガイド.md
  docs/調査_設計等/GitHub Project個人利用/GitHub_Project個人利用調査.md
  docs/調査_設計等/authentication/README.md
  docs/調査_設計等/authentication/cloudflare_access.md
  docs/調査_設計等/authentication/cloudflare_workers_access_integration.md
  docs/調査_設計等/authentication/implementation_guide.md
  docs/調査_設計等/authentication/implementation_plan.md
  docs/調査_設計等/authentication/issue339_summary.md
  docs/調査_設計等/authentication/terraform_management.md
  docs/調査_設計等/authentication/worker_to_worker_communication.md
  docs/調査_設計等/frontend_rendering_issue.md
  docs/調査_設計等/issue483_mcp_summary_ux_investigation.md
  docs/調査_設計等/mcp/MCPの定義.md
  docs/調査_設計等/mcp/README.md
  docs/調査_設計等/mcp/architecture.md
  docs/調査_設計等/mcp/benefits_and_use_cases.md
  docs/調査_設計等/mcp/features/auto_categorization/01_user_stories.md
  docs/調査_設計等/mcp/features/auto_categorization/02_functional_requirements.md
  docs/調査_設計等/mcp/features/auto_categorization/03_data_model.md
  docs/調査_設計等/mcp/features/auto_categorization/04_mcp_server.md
  docs/調査_設計等/mcp/features/auto_categorization/05_service_layer.md
  docs/調査_設計等/mcp/features/auto_categorization/06_frontend_ui.md
  docs/調査_設計等/mcp/features/auto_categorization/07_implementation_plan.md
  docs/調査_設計等/mcp/features/auto_categorization/README.md
  docs/調査_設計等/mcp/implementation_guide.md
  docs/調査_設計等/mcp/sample_implementation.md
  docs/調査_設計等/remote_mcp/README.md
Due: none

chore: format適用
  frontend/src/app/bookshelf/[id]/page.tsx
  frontend/src/features/bookshelf/components/BookForm.tsx
  frontend/src/features/labels/components/LabelDeleteConfirm.test.tsx
Due: frontend-lint

🚧 fix: Vitest in-source型定義の警告を解消
  frontend/src/features/labels/queries/api.ts
  frontend/src/features/labels/queries/queryKeys.ts
  frontend/src/types/api.ts
Due: frontend-lint

fix: MCP除却：getReadBookmarks機能を削除
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  api/tests/performance/bookmark-performance.test.ts
  api/tests/unit/repositories/readStatus.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/routes/readStatus.test.ts
  api/tests/unit/routes/unratedBookmarks.test.ts
  api/tests/unit/services/bookmark.test.ts
  api/tests/unit/services/label.test.ts
  api/tests/unit/services/readStatus.test.ts
Due: api-lint

🧹 chore: MCPのmarkBookmarkAsReadツールを削除
  mcp/README.md
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

🧹 chore: MCPのdeleteLabelツールを削除
  docs/機能仕様/ラベリング機能/06_Claude連携.md
  mcp/README.md
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

🧹 chore: MCPのupdateLabelDescriptionツールを削除
  mcp/README.md
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

🧹 chore: MCPのdeleteLabel関連機能を除却
  docs/機能仕様/ラベリング機能/06_Claude連携.md
  mcp/README.md
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

🚚 chore: GitHubホステッドランナーへ移行
  .github/workflows/deploy.yml
Due: none

🧹 chore: ホステッドランナー用クリーンアップ削除
  .github/workflows/deploy.yml
Due: none

fix: Biome適用
  api/src/config/index.ts
  api/src/services/BookshelfService.ts
  api/src/utils/validation.ts
  api/tests/unit/routes/labels.test.ts
  biome.json
Due: api-lint

🐛 fix: assignLabelsToMultipleArticlesのラベル判定を修正
  api/src/interfaces/repository/articleLabel.ts
  api/src/repositories/articleLabel.ts
  api/src/services/label.ts
  api/tests/unit/repositories/batch-label.test.ts
  api/tests/unit/services/batch-label.test.ts
Due: api-lint

🐛 fix: MCP初期化時の不要ログを削除
  mcp/index.ts
Due: mcp-lint

🧹 chore: Biome推奨ルール適用とa11y修正
  api/src/config/index.ts
  api/src/services/BookshelfService.ts
  api/src/utils/validation.ts
  api/tests/unit/routes/labels.test.ts
  biome.json
  frontend/src/app/bookshelf/[id]/page.tsx
  frontend/src/app/error.tsx
  frontend/src/app/favorites/page.tsx
  frontend/src/app/labels/page.tsx
  frontend/src/app/loading.tsx
  frontend/src/app/page.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookshelf/components/AddBookButton.tsx
  frontend/src/features/bookshelf/components/BookCard.tsx
  frontend/src/features/labels/components/LabelDeleteConfirm.test.tsx
  frontend/src/features/labels/components/LabelDeleteConfirm.tsx
  frontend/src/features/labels/components/LabelDisplay.tsx
Due: api-lint, frontend-lint

✨ refactor: CreateBookmarkModalのスキーマをstrictObjectに変更
  frontend/src/features/bookmarks/components/CreateBookmarkModal.tsx
Due: frontend-lint

🐛 fix: APIドキュメントの未ラベルブックマーク関連の表記を修正
  docs/機能仕様/ラベリング機能/04_API設計.md
  docs/機能仕様/ラベリング機能/06_Claude連携.md
  docs/機能仕様/ラベリング機能/07_自動ラベル付け.md
  mcp/README.md
Due: none

🗑️ chore: 不要なpackage.jsonとpnpm-lock.yamlを削除 ✏️ docs: AGENTS.mdとCLAUDE.mdの開発環境に関する情報を更新 📝 docs: README.mdのセットアップ手順を整理
  AGENTS.md
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
Due: none

chore: 拡張経由運用に合わせ記事追加UIを除去
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
Due: frontend-lint

chore: Biome指摘に合わせ余分な空行を整理
  frontend/src/app/page.tsx
Due: frontend-lint

🛠️ fix: Wrangler警告を解消しデプロイを安定化
  .github/workflows/deploy.yml
  api/package.json
  api/src/config/database.ts
  api/src/services/seed.ts
  api/wrangler.jsonc
Due: api-lint

fix: Why URLコピー機能の要望がなくなったため What カードからURLコピー処理を除去
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

fix: Why IDコピー機能が不要になったため What カードからIDコピー処理を削除
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🛠️ fix: Wrangler無指定環境のコマンドを修正
  .github/workflows/deploy.yml
  api/package.json
Due: api-lint

fix: フロントエンドの依存関係インストールステップを削除
  .github/workflows/deploy.yml
Due: none

🛠 fix: カード内の既読ボタンを除去しリンククリックに統一
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🧹 chore: Biome設定を各パッケージに分割
  api/biome.json
  extension/biome.json
  frontend/biome.json
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
Due: api-lint, frontend-lint, extension-lint

🛠️ chore: フロントCIに型チェックを追加して型不整合を検出するため
  .github/workflows/ci-frontend.yml
  frontend/package.json
Due: frontend-lint

🐛 fix: テストでNODE_ENVをスタブして型チェックに対応
  frontend/src/app/error.test.tsx
Due: frontend-lint

🧹 chore: Biomeがmcp直下のファイルも検査対象になるよう調整
  mcp/biome.json
Due: mcp-lint

🛠 fix: suspicious系ルールを有効化して品質検証に含める
  mcp/biome.json
Due: mcp-lint

🧼 chore: recommended設定に任せてstyleルールを整理
  mcp/biome.json
Due: mcp-lint

♻️ chore: a11y設定も推奨ルールに揃えて整理
  mcp/biome.json
Due: mcp-lint

🧹 chore: 拡張機能のBiome推奨設定のみを適用
  extension/biome.json
Due: extension-lint

🧾 chore: suspicious設定も推奨ルールに統一
  mcp/biome.json
Due: mcp-lint

🛠️ fix: dotenvバナーを抑制
  mcp/src/index.ts
Due: mcp-lint

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
