Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

🔧 fix: CIのデプロイ時のマイグレーションを削除し、手動実行に変更
  .github/workflows/deploy.yml
  api/README.md
Due: none

✨ feat: 要約なしブックマーク取得APIエンドポイントを実装
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  api/tests/unit/routes/bookmarks-without-summary.test.ts
Due: api-lint

✨ feat: MCP Serverにラベル別未読記事取得ツールを追加
  mcp/README.md
  mcp/package.json
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/test/getUnreadArticlesByLabel.test.ts
Due: mcp-lint

♻️ refactor: リントエラーを修正（改行の修正）
  api/src/interfaces/service/bookmark.ts
Due: api-lint

✨ feat: 未読/既読ブックマーク管理用のAPIエンドポイントとMCPツールを追加
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  api/tests/unit/repositories/readStatus.test.ts
  api/tests/unit/routes/readStatus.test.ts
  api/tests/unit/services/readStatus.test.ts
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/test/readStatus.test.ts
Due: api-lint, mcp-lint

🔀 chore: mainブランチとのマージコンフリクトを解決
  mcp/src/index.ts
Due: mcp-lint

✨ feat: RSSフィード管理の基本CRUD APIを実装
  api/src/index.ts
  api/src/interfaces/repository/rssFeed.ts
  api/src/interfaces/service/rssFeed.ts
  api/src/repositories/rssFeed.ts
  api/src/routes/rssFeeds.ts
  api/src/services/rssFeed.ts
  api/tests/unit/repositories/rssFeed.test.ts
  api/tests/unit/routes/rssFeeds.test.ts
  api/tests/unit/services/rssFeed.test.ts
Due: api-lint

🗑️ chore: lefthookを完全に削除
  README.md
  lefthook.yml
  package-lock.json
  package.json
Due: none

🎨 fix: Summary部分と各種ボタンのUIの位置重なりを解消
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🐛 fix: RSSフィードルーティングの修正\n\n- ルート構造を他のAPIと統一\n- インポート文とルーティング方式の修正\n- テストファイルの対応
  api/src/index.ts
  api/src/routes/rssFeeds.ts
  api/tests/unit/routes/rssFeeds.test.ts
Due: api-lint

🎨 format: lintによる自動修正を適用
  api/src/routes/rssFeeds.ts
  api/tests/unit/routes/rssFeeds.test.ts
Due: api-lint

✨ feat: RSSフィード取得・解析処理の実装
  api/package-lock.json
  api/package.json
  api/src/services/rssFetcher.ts
  api/src/services/rssParser.ts
  api/src/types/rss.ts
  api/tests/unit/services/rssFetcher.test.ts
  api/tests/unit/services/rssParser.test.ts
Due: api-lint

🔧 chore: dependabotに fast-xml-parser を追加
  .github/dependabot.yml
Due: none

✨ feat: RSSバッチ処理の基本実装を追加
  api/src/services/batchProcessor.test.ts
  api/src/services/batchProcessor.ts
  api/src/services/feedProcessor.test.ts
  api/src/services/feedProcessor.ts
  api/src/workers/rssBatch.test.ts
  api/src/workers/rssBatch.ts
  api/wrangler.jsonc
  docs/調査_設計等/lefthook-cleanup.md
Due: api-lint

🔧 fix: リントエラーを修正（any型の使用を削除）
  api/src/services/batchProcessor.test.ts
  api/src/services/feedProcessor.test.ts
  api/src/workers/rssBatch.test.ts
Due: api-lint

🐛 fix: RSSバッチ処理のデバッグ情報追加
  api/scripts/run-batch-manually.ts
  api/scripts/seed-rss-test-data.sql
  api/src/index.ts
  api/src/services/feedProcessor.ts
  api/src/workers/rssBatch.ts
Due: api-lint

🐛 fix: APIのlintエラーを修正
  api/knip.config.ts
  api/scripts/run-batch-manually.ts
  api/src/index.ts
  api/src/services/batchProcessor.ts
  api/src/services/feedProcessor.ts
  api/src/services/rssFetcher.ts
  api/src/workers/rssBatch.ts
Due: api-lint

✅ test: RSSバッチ処理のテストをすべて修正し、カバレッジを98.03%に改善
  api/src/services/batchProcessor.test.ts
  api/src/services/feedProcessor.test.ts
  api/src/workers/rssBatch.test.ts
  api/tests/unit/routes/dev.test.ts
Due: api-lint

🔥 remove: フロントエンドから要約生成ボタンを削除
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarkSummary.tsx
  frontend/src/features/bookmarks/components/BookmarksList.tsx
Due: frontend-lint

🔥 remove: 未使用のuseGenerateSummaryフックを削除
  frontend/src/features/bookmarks/queries/useGenerateSummary.ts
Due: frontend-lint

feat: RSSフィード管理画面の基本実装（Issue #383）
  frontend/src/app/feeds/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Modal.tsx
  frontend/src/features/feeds/components/CreateFeedModal.tsx
  frontend/src/features/feeds/components/FeedCard.tsx
  frontend/src/features/feeds/pages/FeedListPage.tsx
  frontend/src/features/feeds/queries/api.ts
  frontend/src/features/feeds/queries/queryKeys.ts
  frontend/src/features/feeds/queries/useCreateRSSFeed.ts
  frontend/src/features/feeds/queries/useRSSFeeds.ts
  frontend/src/features/feeds/types.ts
Due: frontend-lint

🔥 remove: RSS管理画面から手動実行ボタンを削除
  frontend/src/features/feeds/pages/FeedListPage.tsx
Due: frontend-lint

🔥 remove: RSSフィード登録画面から更新間隔の設定を削除
  frontend/src/features/feeds/components/CreateFeedModal.tsx
Due: frontend-lint

🎨 style: CreateFeedModalのフォーマットを修正
  frontend/src/features/feeds/components/CreateFeedModal.tsx
Due: frontend-lint

✨ feat: RSSフィード編集・削除機能を実装 (#384)
  frontend/src/components/Button.tsx
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/features/feeds/components/CreateFeedModal.tsx
  frontend/src/features/feeds/components/EditFeedModal.tsx
  frontend/src/features/feeds/components/FeedCard.tsx
  frontend/src/features/feeds/pages/FeedListPage.tsx
  frontend/src/features/feeds/queries/useRSSFeeds.ts
Due: frontend-lint

✨ feat: RSS読み込み機能 - 手動バッチ実行機能の実装 (#385)
  api/src/index.ts
  api/src/routes/rssBatch.ts
  api/tests/test-utils.ts
  api/tests/unit/routes/rssBatch.test.ts
  frontend/src/features/feeds/components/BatchStatus.tsx
  frontend/src/features/feeds/components/ManualExecuteButton.tsx
  frontend/src/features/feeds/pages/FeedListPage.tsx
  frontend/src/features/feeds/queries/api.ts
  frontend/src/features/feeds/queries/queryKeys.ts
  frontend/src/features/feeds/queries/useBatch.ts
  frontend/src/features/feeds/types.ts
Due: api-lint, frontend-lint

📦 chore: date-fnsパッケージを追加
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

🐛 fix: APIエンドポイントのルーティングとエラーハンドリングを修正
  api/src/index.ts
  frontend/src/features/feeds/queries/api.ts
Due: api-lint, frontend-lint

🐛 fix: APIエンドポイントのルーティングパスを修正
  api/src/index.ts
  api/src/routes/rssBatch.ts
Due: api-lint

🐛 fix: APIルーティングとフロントエンドAPIパスを修正
  api/src/index.ts
  api/src/routes/rssFeeds.ts
  frontend/src/features/feeds/queries/api.ts
Due: api-lint, frontend-lint

🗾 test: バッチ実行エンドポイントのテスト実装
  api/src/routes/rssBatch.ts
Due: api-lint

🐛 fix: コメントの終端を修正し、ポートを明示的に指定
  api/package.json
  api/src/routes/rssBatch.ts
Due: api-lint

✨ feat: RSSバッチ実行の非同期処理を実装
  api/src/routes/rssBatch.ts
Due: api-lint

🔥 remove: 手動バッチ実行機能を削除
  api/src/index.ts
  api/src/routes/rssBatch.ts
  api/tests/test-utils.ts
  api/tests/unit/routes/rssBatch.test.ts
  frontend/src/features/feeds/components/BatchStatus.tsx
  frontend/src/features/feeds/components/ManualExecuteButton.tsx
  frontend/src/features/feeds/pages/FeedListPage.tsx
  frontend/src/features/feeds/queries/api.ts
  frontend/src/features/feeds/queries/queryKeys.ts
  frontend/src/features/feeds/queries/useBatch.ts
  frontend/src/features/feeds/types.ts
Due: api-lint, frontend-lint

fix: RSSフィードルートのルーティングとエラーハンドリングを修正
  api/src/index.ts
  api/src/routes/rssFeeds.ts
Due: api-lint

format
  api/src/index.ts
Due: api-lint

format
  package.json
Due: none

docs: clineの使用頻度低下のため削除
  .clinerules/00_memorybank.md
  .clinerules/01_プロジェクト説明.md
  .clinerules/02_api.md
  .clinerules/03_frontend.md
  .clinerules/04_Extention.md
  .clinerules/memory-bank/activeContext.md
  .clinerules/memory-bank/productContext.md
  .clinerules/memory-bank/progress.md
  .clinerules/memory-bank/projectbrief.md
  .clinerules/memory-bank/systemPatterns.md
  .clinerules/memory-bank/techContext.md
Due: none

feat: knip依存関係の削除
  .github/dependabot.yml
  .github/workflows/api-lint.yml
  .github/workflows/extension-lint.yml
  .github/workflows/frontend-lint.yml
  api/knip.config.ts
  api/package-lock.json
  api/package.json
  docs/調査_設計等/lefthook-cleanup.md
  extension/knip.config.ts
  extension/package-lock.json
  extension/package.json
  frontend/knip.config.ts
  frontend/package-lock.json
  frontend/package.json
  mcp/README.md
  mcp/knip.config.ts
  mcp/package-lock.json
  mcp/package.json
  mcp/vitest.config.ts
  package-lock.json
Due: api-lint, frontend-lint, extension-lint, mcp-lint

✨ スマホ表示時のヘッダーメニューをハンバーガーメニューに変更
  frontend/src/components/Header.tsx
Due: frontend-lint
