Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

fix: セルフホストランナーでのRollup依存関係問題を修正
  .github/workflows/ci-self-hosted.yml
Due: none

fix: LightningCSS依存関係も修正してCI完全対応
  .github/workflows/ci-self-hosted.yml
Due: none

fix: ネイティブ依存関係問題の根本的解決
  .github/workflows/ci-self-hosted.yml
Due: none

fix: E2E test server startup timeout and readiness detection
  .github/workflows/ci-self-hosted.yml
Due: none

refactor: CI設計変更 - セルフホストランナーとGitHubランナーの分離
  .github/docs/self-hosted-runner-setup.md
  .github/workflows/ci-github-hosted.yml
  .github/workflows/ci-self-hosted.yml
Due: none

fix: GitHub-hosted Runnerの環境変数設定追加
  .github/workflows/ci-github-hosted.yml
Due: none

fix: フロントエンドビルド用CI設定修正
  .github/workflows/ci-github-hosted.yml
Due: none

fix: CIでのnext.config.mjs生成時のHEREDOC修正
  .github/workflows/ci-github-hosted.yml
Due: none

feat: E2Eテスト軽量化でGitHub Actions無料枠活用
  .github/workflows/ci-github-hosted.yml
  CLAUDE.md
  frontend/e2e/tests/essential-scenarios.spec.ts
  frontend/next.config.ci.mjs
  frontend/playwright.config.mjs
Due: frontend-lint

style: E2Eテストのコードフォーマット修正
  frontend/e2e/tests/essential-scenarios.spec.ts
Due: frontend-lint

fix: E2EテストのPlaywright Locator型エラー修正
  frontend/e2e/tests/essential-scenarios.spec.ts
Due: frontend-lint

fix: ラベルフィルタ時のブックマーク並び順を作成日時降順に修正
  api/src/repositories/bookmark.ts
  api/tests/unit/repositories/bookmark.test.ts
  frontend/e2e/tests/essential-scenarios.spec.ts
Due: api-lint, frontend-lint

⚡ feat: セルフホストランナーのキャッシュ機能除去(Issue #716)
  .github/workflows/ci-self-hosted.yml
Due: none

⚡ feat: CI重複除去 - GitHubホストランナーからビルドテスト削除(Issue #715)
  .github/workflows/ci-github-hosted.yml
Due: none

🔧 fix: E2EテストのAPIサーバー起動問題を修正
  frontend/mock-api-server.js
  frontend/start-servers.js
Due: frontend-lint

🔧 fix: Biomeリンティングエラーを修正
  frontend/mock-api-server.js
Due: frontend-lint

🔧 fix: モックAPIサーバーのエンドポイント修正
  frontend/mock-api-server.js
Due: frontend-lint

🐛 fix: モックAPIのデータ構造をフロントエンドに合わせて修正
  frontend/mock-api-server.js
Due: frontend-lint

debug: E2Eテストのデバッグ情報を大幅強化
  frontend/e2e/tests/essential-scenarios.spec.ts
Due: frontend-lint

fix: ワークフロー名を明確化してセルフホストランナー使用を明示
  .github/workflows/frontend-lint.yml
Due: none

fix: Biomeフォーマットエラーを修正
  frontend/e2e/tests/essential-scenarios.spec.ts
Due: frontend-lint

⚡ feat: N+1問題調査とデータベースパフォーマンス最適化(Issue #677)
  api/drizzle/0001_luxuriant_silvermane.sql
  api/drizzle/PERFORMANCE_INDEXES.md
  api/drizzle/meta/0001_snapshot.json
  api/drizzle/meta/_journal.json
  api/package-lock.json
  api/package.json
  api/src/db/schema.ts
  api/src/interfaces/repository/label.ts
  api/src/interfaces/service/label.ts
  api/src/repositories/label.ts
  api/src/routes/labels.ts
  api/src/services/label.ts
  api/tests/performance/bookmark-performance.test.ts
  api/tests/unit/db/performance-indexes.test.ts
  api/tests/unit/repositories/label.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/routes/labels.test.ts
  api/tests/unit/routes/readStatus.test.ts
  api/tests/unit/services/label.test.ts
  frontend/src/app/labels/page.tsx
  frontend/src/features/labels/components/LabelCleanup.test.tsx
  frontend/src/features/labels/components/LabelCleanup.tsx
  frontend/src/features/labels/hooks/useManageLabels.test.tsx
  frontend/src/features/labels/hooks/useManageLabels.ts
  frontend/src/features/labels/queries/api.ts
  mcp/src/lib/apiClient.ts
Due: api-lint, frontend-lint, mcp-lint

fix: Biomeリント・フォーマットエラーを修正
  frontend/src/features/labels/components/LabelCleanup.test.tsx
  frontend/src/features/labels/components/LabelCleanup.tsx
  frontend/src/features/labels/queries/api.ts
Due: frontend-lint

fix: GitHub-hosted CI環境でのlightningcss依存関係問題を修正
  .github/workflows/ci-github-hosted.yml
Due: none

fix: E2EテストのCSSセレクター構文エラーを修正
  frontend/e2e/tests/essential-scenarios.spec.ts
  frontend/e2e/tests/homepage.spec.ts
Due: frontend-lint

fix: E2EテストのCSSセレクター構文エラーを根本的に修正
  frontend/e2e/tests/essential-scenarios.spec.ts
  frontend/e2e/tests/homepage.spec.ts
Due: frontend-lint

fix: E2E既読処理テストをより堅牢に修正
  frontend/e2e/tests/essential-scenarios.spec.ts
Due: frontend-lint

🔧 feat: CIワークフローファイルの重複を削除してリソース使用量を最適化
  .github/workflows/api-lint.yml
  .github/workflows/api-test.yml
  .github/workflows/extension-lint.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/mcp-lint.yml
  .github/workflows/mcp-test.yml
  .github/workflows/runner-maintenance.yml
  mcp/src/test/index.test.ts
Due: mcp-lint

🔧 remove: Security & Quality AuditとIntegration Summaryジョブを削除
  .github/workflows/ci-self-hosted.yml
Due: none

🐛 fix: ラベルフィルタリング時のソート順序問題を修正 (Issue #721)
  api/src/repositories/bookmark.ts
  api/tests/unit/repositories/sorting-fix-verification.test.ts
Due: api-lint

fix: CI環境でのテストモック修正
  api/tests/unit/repositories/bookmark.test.ts
Due: api-lint

refactor: GitHub Copilotレビューフィードバックに基づく品質改善
  api/src/repositories/bookmark.ts
  api/tests/unit/repositories/bookmark.test.ts
  api/tests/unit/repositories/duplicate-fix-verification.test.ts
  api/tests/unit/repositories/duplicate-sorting.test.ts
  api/tests/unit/repositories/sorting-fix-verification.test.ts
Due: api-lint

fix: issue-737 deployに失敗していた問題を修正
  api/wrangler.jsonc
Due: none

fix: wrangler.jsonc のBiome lintエラーを修正
  api/wrangler.jsonc
Due: none

chore: remove obsolete command files
  .claude/commands/feat-issue.md
  .claude/commands/gen-test.md
  .claude/commands/playwright.md
Due: none

chore: Biome v1からv2へのマイグレーション
  api/biome.json
  api/package-lock.json
  api/package.json
  extension/biome.json
  extension/package-lock.json
  extension/package.json
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  mcp/biome.json
  mcp/package-lock.json
  mcp/package.json
Due: api-lint, frontend-lint, extension-lint, mcp-lint

fix: Biome v2 lint issues修正
  api/src/exceptions/index.ts
  api/src/repositories/articleLabel.ts
  api/src/repositories/bookmark.ts
  api/src/repositories/label.ts
  api/src/routes/bookmarks.ts
  api/src/routes/labels.ts
  api/src/routes/seed.ts
  api/src/scripts/seed.ts
  api/src/services/bookmark.ts
  api/src/services/seed.ts
  api/src/utils/validation.ts
  api/tests/performance/bookmark-performance.test.ts
  api/tests/test-utils.ts
  api/tests/unit/db/performance-indexes.test.ts
  api/tests/unit/repositories/batch-label.test.ts
  api/tests/unit/repositories/bookmark.test.ts
  api/tests/unit/repositories/duplicate-fix-verification.test.ts
  api/tests/unit/repositories/duplicate-sorting.test.ts
  api/tests/unit/repositories/readStatus.test.ts
  api/tests/unit/repositories/sorting-fix-verification.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/routes/dev.test.ts
  api/tests/unit/routes/labels.test.ts
  api/tests/unit/services/label.test.ts
  extension/background.js
  extension/popup/popup.css
  mcp/src/lib/apiClient.ts
Due: api-lint, extension-lint, mcp-lint

fix: biome v2 lint issues解決 ネストした設定を統合
  frontend/biome.json
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/tests/homepage.spec.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/src/app/favorites/page.tsx
  frontend/src/app/labels/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/recent/page.test.tsx
  frontend/src/app/recent/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.test.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.tsx
  frontend/src/features/bookmarks/queries/useCreateBookmark.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
  frontend/src/features/labels/components/LabelCleanup.tsx
  frontend/src/features/labels/components/LabelDeleteConfirm.test.tsx
  frontend/src/features/labels/hooks/useLabels.ts
  frontend/src/features/labels/hooks/useManageLabels.ts
  frontend/src/features/labels/queries/api.ts
  frontend/src/providers/QueryProvider.test.tsx
  frontend/start-servers.js
  frontend/vitest.setup.ts
Due: frontend-lint

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
