Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: cd api && npx @biomejs/biome check --apply {staged_files}

frontend-lint:
  run: cd frontend && npx @biomejs/biome check --apply {staged_files}

extension-lint:
  run: cd extension && npx @biomejs/biome check --apply {staged_files}

mcp-lint:
  run: cd mcp && biome check --apply {staged_files}

💬 mcpのindex.tsにさらにコメントを追加（lefthookテスト用）
  mcp/index.ts
Due: none

🔧 lefthook設定の改善（rootパラメータを追加、対象ファイル検出を修正）
  lefthook.yml
Due: none

🔧 lefthook設定を修正（npxからbunxに変更）
  lefthook.yml
  mcp/index.ts
Due: none

📝 READMEをbunコマンドに更新、lefthookの自動修正について説明追加
  README.md
Due: none

♻️ biomeの非推奨オプション（--apply）を--writeに置き換え
  lefthook.yml
Due: none

🔥 テスト用に追加したコメントを削除
  mcp/index.ts
Due: none

✨ ラベルの型定義を更新（description, createdAt, updatedAtを追加）
  frontend/src/features/labels/types.ts
Due: frontend-lint

✨ ラベルAPI呼び出し関数の実装（取得、作成、更新、削除）
  frontend/src/features/labels/queries/api.ts
  frontend/src/features/labels/queries/queryKeys.ts
Due: frontend-lint

✨ ラベル管理用のカスタムフック（useManageLabels）を作成
  frontend/src/features/labels/hooks/useManageLabels.ts
Due: frontend-lint

✨ ラベル一覧表示コンポーネントの実装（LabelList.tsx）
  frontend/src/features/labels/components/LabelList.tsx
Due: frontend-lint

✨ ラベル作成フォームコンポーネントの作成（LabelCreateForm.tsx）
  frontend/src/features/labels/components/LabelCreateForm.tsx
Due: frontend-lint

✨ ラベル編集フォームコンポーネントの作成（LabelEditForm.tsx）
  frontend/src/features/labels/components/LabelEditForm.tsx
Due: frontend-lint

✨ ラベル削除確認モーダルの作成（LabelDeleteConfirm.tsx）
  frontend/src/features/labels/components/LabelDeleteConfirm.tsx
Due: frontend-lint

✨ ラベル表示コンポーネントの拡張（説明文表示機能追加）
  frontend/src/features/labels/components/LabelDisplay.tsx
Due: frontend-lint

✨ ラベル設定ページの作成（/app/labels/page.tsx）
  frontend/src/app/labels/page.tsx
Due: frontend-lint

✨ Headerコンポーネントの更新（ラベル設定ページへのリンク追加）
  frontend/src/components/Header.tsx
Due: frontend-lint

🎨 Biomeによる自動フォーマット修正
  frontend/src/app/labels/page.tsx
  frontend/src/features/labels/components/LabelCreateForm.tsx
  frontend/src/features/labels/components/LabelEditForm.tsx
  frontend/src/features/labels/components/LabelList.tsx
  frontend/src/features/labels/hooks/useManageLabels.ts
  frontend/src/features/labels/queries/api.ts
  frontend/src/features/labels/queries/queryKeys.ts
Due: frontend-lint

✨ LabelDeleteConfirmコンポーネントのキーボード操作とフォーカス管理機能を追加
  frontend/src/features/labels/components/LabelDeleteConfirm.tsx
Due: frontend-lint

✨ fetchLabelById関数のコメントを更新（現在は未使用）
  frontend/src/features/labels/queries/api.ts
  issue_label_management_improvements.md
Due: frontend-lint

🚨 未使用のexport（fetchLabelById）を削除し、CLAUDEマークダウンを更新
  CLAUDE.md
Due: none

🔧 knipをプレコミットフックに追加する
  lefthook.yml
  mcp/bun.lock
  mcp/knip.config.ts
  mcp/package.json
Due: none

📝 Cloudflare WorkersにCloudflare Accessによる保護をかける方法の調査結果をドキュメント化
  docs/調査_設計等/authentication/cloudflare_workers_access_integration.md
Due: none

📝 保護されたWorkersが別のWorkersからアクセストークンを利用してアクセスを許可する方法を調査しドキュメント化
  docs/調査_設計等/authentication/worker_to_worker_communication.md
Due: none

📝 Cloudflare AccessをTerraformで管理する方法を調査しドキュメント化
  docs/調査_設計等/authentication/terraform_management.md
Due: none

📝 Cloudflare Accessによるアクセス制御の実装計画を作成
  docs/調査_設計等/authentication/implementation_plan.md
Due: none

📝 Issue 339対応の調査結果のまとめを作成
  docs/調査_設計等/authentication/issue339_summary.md
Due: none

📝 実装計画を更新し、フロントエンドの既存Accessを考慮した詳細なフェーズ分けを追加
  docs/調査_設計等/authentication/implementation_plan.md
Due: none

🚨 エラーレスポンスの型定義を追加しデプロイエラーを修正
  frontend/src/features/labels/queries/api.ts
Due: frontend-lint

🎨 Biomeフォーマットエラーを修正 (型アサーションの括弧)
  frontend/src/features/labels/queries/api.ts
Due: frontend-lint

fix(Header): increase z-index for header to improve visibility
  frontend/src/components/Header.tsx
Due: frontend-lint

feat: 新しい機能開発のためのGitHub Issue対応手順を追加
  .claude/commands/feat-issue.md
Due: none

feat: 一拼ラベル付け機能を実装
  api/src/interfaces/repository/articleLabel.ts
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/label.ts
  api/src/repositories/articleLabel.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/label.ts
  api/tests/unit/repositories/batch-label.test.ts
  api/tests/unit/routes/batch-label.test.ts
  api/tests/unit/services/batch-label.test.ts
  mcp/knip.config.ts
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/tsconfig.json
Due: api-lint, mcp-lint

docs: 記事要約機能の要件定義ドキュメントを作成
  docs/機能仕様/記事要約機能/01_概要.md
  docs/機能仕様/記事要約機能/02_データモデル.md
  docs/機能仕様/記事要約機能/03_MCP設計.md
  docs/機能仕様/記事要約機能/04_UI設計.md
  docs/機能仕様/記事要約機能/05_実装計画.md
Due: none

📝 feat: RSS読み込み機能の要件定義ドキュメントを作成
  docs/要件定義/RSS読み込み機能/01_概要.md
  docs/要件定義/RSS読み込み機能/02_機能要件.md
  docs/要件定義/RSS読み込み機能/03_データモデル.md
  docs/要件定義/RSS読み込み機能/04_API設計.md
  docs/要件定義/RSS読み込み機能/05_システム設計.md
  docs/要件定義/RSS読み込み機能/06_フロントエンド設計.md
  docs/要件定義/RSS読み込み機能/07_バッチ処理設計.md
Due: none

feat: 記事要約機能のデータモデル、MCP設計、UI設計、実装計画を更新
  docs/機能仕様/記事要約機能/02_データモデル.md
  docs/機能仕様/記事要約機能/03_MCP設計.md
  docs/機能仕様/記事要約機能/04_UI設計.md
  docs/機能仕様/記事要約機能/05_実装計画.md
Due: none

📋 fix: レビューコメントを反映して要件定義を修正
  docs/要件定義/RSS読み込み機能/01_概要.md
  docs/要件定義/RSS読み込み機能/02_機能要件.md
  docs/要件定義/RSS読み込み機能/03_データモデル.md
  docs/要件定義/RSS読み込み機能/04_API設計.md
  docs/要件定義/RSS読み込み機能/05_システム設計.md
  docs/要件定義/RSS読み込み機能/07_バッチ処理設計.md
Due: none

📝 feat: RSS読み込み機能の仕様を機能仕様ディレクトリに追加
  docs/機能仕様/RSS読み込み機能/01_概要.md
  docs/機能仕様/RSS読み込み機能/02_機能要件.md
  docs/機能仕様/RSS読み込み機能/03_データモデル.md
  docs/機能仕様/RSS読み込み機能/04_API設計.md
  docs/機能仕様/RSS読み込み機能/05_システム設計.md
  docs/機能仕様/RSS読み込み機能/06_フロントエンド設計.md
  docs/機能仕様/RSS読み込み機能/07_バッチ処理設計.md
Due: none

Remove outdated documentation for RSS reading feature, including data model, API design, system architecture, frontend design, and batch processing specifications.
  docs/要件定義/RSS読み込み機能/01_概要.md
  docs/要件定義/RSS読み込み機能/02_機能要件.md
  docs/要件定義/RSS読み込み機能/03_データモデル.md
  docs/要件定義/RSS読み込み機能/04_API設計.md
  docs/要件定義/RSS読み込み機能/05_システム設計.md
  docs/要件定義/RSS読み込み機能/06_フロントエンド設計.md
  docs/要件定義/RSS読み込み機能/07_バッチ処理設計.md
Due: none

📋 refactor: RSS記事紐付けテーブルを削除しシンプル化
  docs/機能仕様/RSS読み込み機能/03_データモデル.md
  docs/機能仕様/RSS読み込み機能/07_バッチ処理設計.md
Due: none

🚀 refactor: RSS機能をよりシンプルに設計
  docs/機能仕様/RSS読み込み機能/03_データモデル.md
  docs/機能仕様/RSS読み込み機能/07_バッチ処理設計.md
Due: none

Path conditions:
  api-lint: any of: api/**/*.{ts,js,json}
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  extension-lint: any of: extension/**/*.{js,json,html,css}
  mcp-lint: any of: mcp/**/*.{ts,js,json}
