Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

🐛 fix: デプロイエラーを修正するためKVキャッシュ設定を自動化
  frontend/package.json
  frontend/setup-deploy.sh
  frontend/wrangler.jsonc
Due: frontend-lint

🐛 fix: デプロイエラーを修正するためKVキャッシュ設定を自動化 (#389)
  frontend/package.json
  frontend/setup-deploy.sh
  frontend/wrangler.jsonc
Due: frontend-lint

✨ feat: リンククリック時に既読にする機能を追加
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🐛 fix: CIでのwranglerコマンドの互換性を修正
  frontend/setup-deploy.sh
Due: none

🐛 fix: CIでのwranglerコマンドの互換性を修正 (#390)
  frontend/setup-deploy.sh
Due: none

🐛 fix: CIでのKV namespaceセットアップのデバッグを追加
  frontend/setup-deploy.sh
Due: none

🐛 fix: CIでのKV namespaceセットアップのデバッグを追加 (#392)
  frontend/setup-deploy.sh
Due: none

🐛 fix: KV namespace IDのJSONパースを修正
  frontend/setup-deploy.sh
Due: none

🐛 fix: KV namespace IDのJSONパースを修正 (#393)
  frontend/setup-deploy.sh
Due: none

🧺 chore: デプロイスクリプトからデバッグ用のecho文を削除
  frontend/setup-deploy.sh
Due: none

🧺 chore: デプロイスクリプトからデバッグ用のecho文を削除 (#394)
  frontend/setup-deploy.sh
Due: none

✨ feat: リンククリック時に既読にする機能を追加 (#391)
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

📚 docs: D1マイグレーションガイドと自動化スクリプトを追加
  api/README.md
  api/scripts/safe-migrate.sh
  api/scripts/validate-migration.sh
  docs/調査_設計等/D1マイグレーションガイド.md
Due: none

🔧 migrate: bunからnpmへのパッケージマネージャー移行
  .github/workflows/api-lint.yml
  .github/workflows/api-test.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/mcp-lint.yml
  CLAUDE.md
  README.md
  api/bun.lock
  api/package-lock.json
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
  mcp/bun.lock
  mcp/package-lock.json
Due: api-lint, frontend-lint, mcp-lint

📚 docs: D1マイグレーションガイドと自動化スクリプトを追加 (#396)
  api/README.md
  api/scripts/safe-migrate.sh
  api/scripts/validate-migration.sh
  docs/調査_設計等/D1マイグレーションガイド.md
Due: none

🐛 fix: CIワークフローのsetup-nodeバージョンを修正
  .github/workflows/api-lint.yml
  .github/workflows/api-test.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/mcp-lint.yml
Due: none

🔧 fix: CIでnpm installの代わりにnpm ciを使用
  .github/workflows/api-lint.yml
  .github/workflows/api-test.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/mcp-lint.yml
Due: none

🔁 fix: package-lock.jsonを再生成してCIエラーを修正
  api/package-lock.json
  frontend/package-lock.json
  mcp/package-lock.json
Due: api-lint, frontend-lint, mcp-lint

🐛 fix: Dependabot設定をnpm対応に更新
  .github/dependabot.yml
Due: none

✨ feat: 記事要約機能 Phase 1 - 基盤構築 (#372)
  api/drizzle/0004_woozy_zemo.sql
  api/drizzle/meta/0003_snapshot.json
  api/drizzle/meta/0004_snapshot.json
  api/drizzle/meta/_journal.json
  api/package-lock.json
  api/src/db/schema.ts
  api/src/index.ts
  api/src/interfaces/service/summary.ts
  api/src/repositories/bookmark.ts
  api/src/routes/summary.ts
  api/src/services/summary.ts
  mcp/bun.lock
  mcp/package.json
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: api-lint, mcp-lint

test: 記事要約機能のテストを追加してカバレッジを80%以上に向上
  api/src/interfaces/repository/bookmark.ts
  api/tests/unit/repositories/bookmark.test.ts
  api/tests/unit/routes/summary.test.ts
  api/tests/unit/services/summary.test.ts
Due: api-lint

🐛 fix: テストの不具合を修正
  api/tests/unit/repositories/bookmark.test.ts
  api/tests/unit/routes/summary.test.ts
  api/tests/unit/services/summary.test.ts
Due: api-lint

🧺 chore: Biomeフォーマット適用
  api/tests/unit/routes/summary.test.ts
Due: api-lint

✨ feat: 記事要約機能 Phase 2 コア機能実装 (#373)
  api/drizzle/0004_old_eternity.sql
  api/drizzle/meta/0003_snapshot.json
  api/drizzle/meta/0004_snapshot.json
  api/drizzle/meta/_journal.json
  api/src/db/schema.ts
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/types.ts
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: api-lint, frontend-lint, mcp-lint

✨ feat(issue-373): 記事要約機能Phase2のコア機能実装
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarkSummary.tsx
  frontend/src/features/bookmarks/components/BookmarksList.tsx
  frontend/src/features/bookmarks/queries/useGenerateSummary.ts
  frontend/src/features/bookmarks/queries/useUpdateSummary.ts
  frontend/src/features/bookmarks/types.ts
  mcp/package-lock.json
  mcp/package.json
  mcp/src/index.ts
  mcp/src/test/generateSummary.test.ts
  mcp/vitest.config.ts
Due: frontend-lint, mcp-lint

✨ feat: フロントエンド要約表示機能を実装 (Phase 2完了)
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarkSummary.tsx
  frontend/src/features/bookmarks/types.ts
  mcp/src/index.ts
Due: frontend-lint, mcp-lint

✨ feat: 要約テキストのコピー機能を追加
  frontend/src/features/bookmarks/components/BookmarkSummary.tsx
Due: frontend-lint

🔥 refactor: 要約再生成機能を削除
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarkSummary.tsx
Due: frontend-lint

🍨 style: lintで空行を修正
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🔧 fix: ビルドエラーを修正
  frontend/src/features/bookmarks/components/BookmarksList.tsx
  frontend/src/features/bookmarks/queries/useGenerateSummary.ts
  frontend/src/features/bookmarks/queries/useUpdateSummary.ts
Due: frontend-lint

🍨 style: lint修正
  frontend/src/features/bookmarks/queries/useGenerateSummary.ts
Due: frontend-lint

🔨 fix: MCPのビルド失敗を解消
  mcp/package-lock.json
  mcp/package.json
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/tsconfig.json
Due: mcp-lint

🔧 fix: feat-issue.mdの手順を整理し、mainブランチの操作を追加
  .claude/commands/feat-issue.md
Due: none

🗑️ refactor: Bun関連ファイルと参照を削除しnpmに完全移行
  bun.lock
  extension/bun.lock
  mcp/README.md
  mcp/tsconfig.json
  mise.toml
Due: mcp-lint

✨ add: view-issues.mdを新規作成し、OpenなIssueのリスト表示手順を追加
  .claude/commands/view-issues.md
Due: none

📦 add: RSS機能のデータベーススキーマとリポジトリ層を追加
  api/drizzle/0005_stormy_shinko_yamashiro.sql
  api/drizzle/meta/0005_snapshot.json
  api/drizzle/meta/_journal.json
  api/src/db/schema.ts
  api/src/repositories/rssBatchLog.ts
  api/src/repositories/rssFeed.ts
  api/src/repositories/rssFeedItem.ts
  api/tests/unit/repositories/rssBatchLog.test.ts
  api/tests/unit/repositories/rssFeed.test.ts
  api/tests/unit/repositories/rssFeedItem.test.ts
Due: api-lint

📚 docs: MCPのREADMEを更新し、要約管理機能を追加
  mcp/README.md
  mcp/package.json
Due: mcp-lint

✨ feat: ブックマークカードに記事IDコピーボタンを追加
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

✨ feat: reset-issue.mdを新規作成し、コマンドの手順を追加
  .claude/commands/reset-issue.md
Due: none

✨ feat: reset.mdを新規作成し、コマンドの手順を追加
  .claude/commands/reset.md
Due: none

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
