Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

対応内容: - `.github/workflows/ci-frontend.yml`: セルフホスト時の名残だった `pnpm add @rollup/rollup-linux-x64-gnu --save-optional` を削除しました。
  .github/workflows/ci-frontend.yml
Due: none

対応内容: - `api/src/openapi/spec.ts`: ヘルスチェック専用タグを削除し、ヘルスチェックは開発用タグに含める形に整理しました（エンドポイント自体は `src/index.ts` で実装・テスト済みのため残しています）。 - `api/openapi.yaml` を再生成。
  api/openapi.yaml
  api/src/openapi/spec.ts
Due: api-lint

変更内容 - BFFエラーコードをAPI実装/定義に合わせて再整理（400/404/409/5xx＋解析不可/未知）。`UNAUTHORIZED/FORBIDDEN/RATE_LIMITED` を削除し、メッセージも合わせて縮約しました。 - ステータス→コードマッピングと各テストを新しいリストに追従し、エラーレスポンスの期待値を更新しました。
  frontend/src/lib/bff/__tests__/errors.test.ts
  frontend/src/lib/bff/__tests__/response.test.ts
  frontend/src/lib/bff/errors.ts
Due: frontend-lint

変更内容 - 指摘のあった環境変数確認テストを `frontend/src/lib/bff/__tests__/client.test.ts` から削除し、HTTPエラー・レスポンス解析失敗のみに絞りました。
  frontend/src/lib/bff/__tests__/client.test.ts
Due: frontend-lint

変更内容 - 指摘の通り `frontend/src/lib/bff/__tests__/config.test.ts` を削除しました（configのユニットテストは無し）。
  frontend/src/lib/bff/__tests__/config.test.ts
Due: frontend-lint

変更内容 - 指摘のとおり `frontend/src/lib/bff/__tests__/errors.test.ts` からステータス正規化/マッピングのテストを削除し、上流エラー正規化とレスポンス整形のみを検証する形に簡素化しました。
  frontend/src/lib/bff/__tests__/errors.test.ts
Due: frontend-lint

Claude Code Review 用ワークフローを削除しました。
  .github/workflows/claude-code-review.yml
Due: none

chore: update biome to 2.3.8
  api/biome.json
  api/package.json
  api/pnpm-lock.yaml
  extension/biome.json
  extension/package.json
  extension/pnpm-lock.yaml
  frontend/biome.json
  mcp/biome.json
Due: api-lint, frontend-lint, extension-lint, mcp-lint

docs: add GEMINI documentation
  GEMINI.md
Due: none

feat: 🏗️ pnpm workspaceの導入 (closes #1308)
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
  api/package.json
  api/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: api-lint

変更内容: - Biomeスキーマ変更を元に戻し（`frontend/biome.json`）、書式チェックでのバージョン警告を残した状態に調整。 - テストファイルのimport順を整備（`frontend/src/features/bookmarks/components/BookmarksList.test.tsx`）。
  frontend/biome.json
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
Due: frontend-lint

`frontend/biome.json` の `$schema` を 2.3.8 に戻しました。format/typecheck/test も実行済みです。
  frontend/biome.json
Due: frontend-lint

レビュー指摘の不要テストを削除しました。
  frontend/src/app/api/bookmarks/__tests__/routes.test.ts
Due: frontend-lint

chore: extensionのlockfileを更新
  extension/pnpm-lock.yaml
Due: none

CIインストール失敗の原因を解消しました。
  pnpm-lock.yaml
Due: none

Knip指摘の未使用エクスポートを解消しました。
  frontend/src/features/bookmarks/queries/api.ts
Due: frontend-lint

Frontendのビルドエラーを解消しました。
  frontend/src/app/api/bookmarks/[id]/favorite/route.ts
  frontend/src/app/api/bookmarks/[id]/label/route.ts
  frontend/src/app/api/bookmarks/[id]/read/route.ts
  frontend/src/app/api/bookmarks/[id]/unread/route.ts
Due: frontend-lint

ブックマーク作成用のBFFルートを追加し、ビルドエラーも解消しました。
  frontend/src/app/api/bookmarks/__tests__/routes.test.ts
  frontend/src/app/api/bookmarks/bulk/route.ts
Due: frontend-lint

🛠️ fix: BFF上流URLを本番に設定
  frontend/wrangler.jsonc
Due: none

🐛 fix: BFFのデフォルトAPI URLを更新
  frontend/src/lib/bff/config.ts
Due: frontend-lint

🐛 fix: ラベルAPIをBFF経由に統一
  frontend/src/app/api/labels/[id]/route.ts
  frontend/src/app/api/labels/cleanup/route.ts
  frontend/src/app/api/labels/route-utils.ts
  frontend/src/app/api/labels/route.ts
  frontend/src/features/labels/hooks/useLabels.ts
  frontend/src/features/labels/queries/api.ts
Due: frontend-lint

🧹 chore: 未使用のAPI設定を削除
  frontend/src/app/api/labels/route.ts
  frontend/src/lib/api/config.ts
Due: frontend-lint

feat: CloudflareコンテキストからのAPI設定取得に対応し、`action_logs.zip`を削除
  frontend/action_logs.zip
  frontend/src/lib/bff/config.ts
Due: frontend-lint

BFFクライアントのフェッチ処理にデバッグログを追加
  frontend/src/lib/bff/client.ts
Due: frontend-lint

fix: format
  frontend/src/lib/bff/client.ts
Due: frontend-lint

chore: BFFクライアントにレスポンスステータスとボディプレビューのデバッグログを追加
  frontend/src/lib/bff/client.ts
Due: frontend-lint

feat: Cloudflare Service Binding を利用したBFF API呼び出しを実装
  README.md
  frontend/src/lib/bff/client.ts
  frontend/wrangler.jsonc
Due: frontend-lint

feat: BFFクライアントのCloudflareコンテキストとAPI呼び出しに詳細なデバッグログとエラー報告を追加
  frontend/src/lib/bff/client.ts
Due: frontend-lint

fix: サービスバインディングで`cache`オプションを除外し、デバッグログを削除
  frontend/src/lib/bff/client.ts
Due: frontend-lint

chore: Lint対応
  frontend/src/lib/bff/client.ts
Due: frontend-lint

✅ test: API Route Handlersのテスト補完と型整合性チェックの追加
  frontend/src/app/api/bookmarks/__tests__/routes.test.ts
  frontend/src/app/api/labels/__tests__/route-utils.test.ts
  frontend/src/app/api/labels/__tests__/routes.test.ts
Due: frontend-lint

🐛 fix(frontend): lintエラーの修正
  frontend/src/app/api/bookmarks/__tests__/routes.test.ts
  frontend/src/app/api/labels/__tests__/route-utils.test.ts
  frontend/src/app/api/labels/__tests__/routes.test.ts
  frontend/src/lib/bff/config.ts
Due: frontend-lint

🐛 fix(frontend): typecheckエラーの修正
  frontend/src/app/api/labels/__tests__/routes.test.ts
Due: frontend-lint

🐛 fix(frontend): lintエラーの修正（フォーマット適用）
  frontend/src/app/api/labels/__tests__/routes.test.ts
Due: frontend-lint

✨ feat(frontend): Orval生成ファイルの同期検証スクリプトを追加
  .github/workflows/ci-frontend.yml
  frontend/package.json
  frontend/scripts/check-orval-sync.sh
Due: frontend-lint

✨ feat(mcp): Cloudflare Workers対応の基盤を追加
  mcp/README.md
  mcp/package.json
  mcp/src/index.ts
  mcp/src/server.ts
  mcp/src/worker.ts
  mcp/wrangler.toml
  pnpm-lock.yaml
Due: mcp-lint

🐛 fix(frontend): モバイルでのカード配置を修正し中央寄せに見えるよう改善
  frontend/src/features/bookmarks/components/BookmarksList.tsx
Due: frontend-lint

🐛 fix(frontend): モバイルではカードを全幅表示、PCでは中央寄せを維持
  frontend/src/features/bookmarks/components/BookmarksList.tsx
Due: frontend-lint

✨ feat(frontend): 記事カードの横幅を統一
  frontend/src/features/bookmarks/components/BookmarksList.tsx
Due: frontend-lint

✨ feat(frontend): 記事カードの横幅を統一
  CLAUDE.md
  frontend/src/features/bookmarks/components/BookmarksList.tsx
Due: frontend-lint

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
