Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

feat: トップページに記事追加ダイアログボタンを実装
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.tsx
  frontend/src/features/bookmarks/queries/api.ts
  frontend/src/features/bookmarks/queries/useCreateBookmark.ts
Due: frontend-lint

improve: 記事追加後の動作を改善（即座に一覧に反映＆上部へスクロール）
  frontend/src/features/bookmarks/components/CreateBookmarkModal.tsx
  frontend/src/features/bookmarks/queries/useCreateBookmark.ts
Due: frontend-lint

format: Lintエラーを修正（npm run formatを実行）
  frontend/src/features/bookmarks/queries/useCreateBookmark.ts
Due: frontend-lint

✨ feat: Dependabotの設定改善 - vitestパッケージの依存関係をグループ化
  .github/dependabot.yml
  CLAUDE.md
Due: none

✨ feat: Dependabotの設定改善 - vitestパッケージの依存関係をグループ化 (#457)
  .github/dependabot.yml
  CLAUDE.md
Due: none

🐛 fix: デプロイエラーを修正
  .github/workflows/deploy.yml
  .github/workflows/frontend-lint.yml
  frontend/src/features/bookmarks/queries/api.ts
Due: frontend-lint

✨ feat: URLをコピーするUIボタンを追加
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

✨ feat: opennext ビルドチェックをCIに追加
  .github/workflows/deploy.yml
Due: none

🔨 refactor: deploy.ymlから事前チェック部分を削除
  .github/workflows/deploy.yml
Due: none

🐛 fix: デプロイエラーを修正 (#462)
  .github/workflows/frontend-lint.yml
  frontend/src/features/bookmarks/queries/api.ts
Due: frontend-lint

✨ feat: URLをコピーするUIボタンを追加 (#463)
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

✨ feat: 既読ブックマークを未読に戻す機能を追加
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  api/tests/unit/repositories/bookmark-unread.test.ts
  api/tests/unit/routes/bookmark-unread.test.ts
  api/tests/unit/services/bookmark-unread.test.ts
  frontend/src/app/read/page.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/queries/api.ts
  frontend/src/features/bookmarks/queries/useGetReadBookmarks.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
Due: api-lint, frontend-lint

🚨 fix: lintエラーを修正 (any型をMockContextインターフェースに変更)
  api/tests/unit/routes/bookmark-unread.test.ts
Due: api-lint

\✨ feat: RSSフィードアイテム一覧表示機能を実装
  api/.gitignore
  api/src/index.ts
  api/src/interfaces/repository/rssFeed.ts
  api/src/interfaces/repository/rssFeedItem.ts
  api/src/interfaces/service/rssFeedItem.ts
  api/src/repositories/rssFeed.ts
  api/src/repositories/rssFeedItem.ts
  api/src/routes/rssItems.ts
  api/src/services/rssFeedItem.ts
  frontend/src/app/feeds/items/page.tsx
  frontend/src/features/feeds/components/FeedFilter.tsx
  frontend/src/features/feeds/components/FeedItemCard.tsx
  frontend/src/features/feeds/pages/FeedItemsPage.tsx
  frontend/src/features/feeds/queries/api.ts
  frontend/src/features/feeds/queries/queryKeys.ts
  frontend/src/features/feeds/queries/useRSSItems.ts
  frontend/src/features/feeds/types.ts
  frontend/src/features/feeds/types/rssItem.ts
Due: api-lint, frontend-lint

🚨 fix: さらにlintエラーを修正 (labelService インターフェース、responseDataの型定義)
  api/tests/unit/routes/bookmark-unread.test.ts
Due: api-lint

🚨 fix: BookmarkWithLabelにreadAtプロパティがないため、updatedAtを使用するよう修正
  api/src/routes/bookmarks.ts
Due: api-lint

🚨 fix: テストの互換性のためreadAtまたはupdatedAtをサポート
  api/src/routes/bookmarks.ts
Due: api-lint

🚨 fix: テストモックオブジェクトにインターフェースで必要なメソッドを追加
  api/tests/unit/routes/bookmarks-without-summary.test.ts
Due: api-lint

✅ test: ブックマークリポジトリのテストカバレッジ向上
  api/tests/unit/repositories/bookmark.test.ts
Due: api-lint

🚨 fix: bookmarks.test.tsのモックオブジェクトを修正してインターフェースに適合
  api/tests/unit/routes/bookmarks.test.ts
Due: api-lint

🚨 fix: batch-label.test.tsのモックオブジェクトとレスポンスデータ型を修正
  api/tests/unit/routes/batch-label.test.ts
Due: api-lint

🎨 style: ブックマークリポジトリテストのフォーマット調整
  api/tests/unit/repositories/bookmark.test.ts
Due: api-lint

✅ test: ブックマークリポジトリのテストカバレッジ向上 (#467)
  api/tests/unit/repositories/bookmark.test.ts
Due: api-lint

🚨 fix: 型キャストを使用してbookmarks.test.tsのモックオブジェクトを修正
  api/tests/unit/routes/bookmarks.test.ts
Due: api-lint

🚨 fix: bookmark.test.tsのモックオブジェクトを修正し不足しているメソッドを追加
  api/tests/unit/services/bookmark.test.ts
Due: api-lint

✨ feat: 既読一覧では要約の表示を非表示に対応
  frontend/src/app/recent/page.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

✨ feat: 既読一覧では要約の表示を非表示に対応 (#468)
  frontend/src/app/recent/page.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🐛 fix: getBookmarkWithoutSummryのMCPが正常に利用できない問題を修正
  mcp/src/index.ts
Due: mcp-lint

🐛 fix: getBookmarkWithoutSummryのMCPが正常に利用できない問題を修正 (#469)
  mcp/src/index.ts
Due: mcp-lint

✨ feat: 既読にしたブックマークを未読に戻すボタンを追加
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  api/tests/unit/repositories/markAsUnread.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/services/markAsUnread.test.ts
  frontend/action_logs.zip
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/queries/api.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
Due: api-lint, frontend-lint

✨ feat: 記事を未読に戻す機能の実装とテスト追加
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/services/markAsUnread.test.ts
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
  mcp/vitest.config.ts
Due: api-lint, frontend-lint, mcp-lint

🚨 fix: Lintエラーの修正 - テストファイルの末尾に空行を追加
  api/tests/unit/repositories/markAsUnread.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/services/markAsUnread.test.ts
Due: api-lint

✨ 既読ブックマークを未読に戻す機能の追加 #442 (#470)
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  api/tests/unit/repositories/markAsUnread.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/services/markAsUnread.test.ts
  frontend/action_logs.zip
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/queries/api.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
  mcp/vitest.config.ts
Due: api-lint, frontend-lint, mcp-lint

📝 docs: feat-issue.mdにCI確認手順を追加し、CLAUDE.mdのセクション名を修正
  .claude/commands/feat-issue.md
  CLAUDE.md
Due: none

📝 docs: feat-issue.mdにCI確認手順を追加し、CLAUDE.mdのセクション名を修正 (#473)
  .claude/commands/feat-issue.md
  CLAUDE.md
Due: none

🐛 fix: 開発環境では開発環境用DBを参照するように設定を変更 #471
  api/README.md
  api/drizzle.config.ts
  api/package.json
  api/src/index.ts
  api/wrangler.jsonc
Due: api-lint

🐛 fix: MCP_getBookmarksWithoutSummary関数のAPIレスポンス形式を修正 #476
  api/src/routes/bookmarks.ts
  api/tests/unit/routes/bookmarks-without-summary.test.ts
Due: api-lint

✨ feat: 未読一覧画面の要約部分のUI仕様変更 #475
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
