Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

feat: フロントエンドテストカバレッジを更に改善（Issue #511対応） (#512)
  .github/workflows/frontend-lint.yml
  frontend/src/app/favorites/page.test.tsx
  frontend/src/app/feeds/page.test.tsx
  frontend/src/app/labels/page.test.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/recent/page.test.tsx
  frontend/src/features/bookmarks/queries/useGetRecentBookmarks.ts
  frontend/src/features/feeds/components/CreateFeedModal.test.tsx
  frontend/src/features/feeds/components/EditFeedModal.test.tsx
  frontend/src/features/feeds/components/FeedCard.test.tsx
  frontend/src/features/labels/components/LabelEditForm.test.tsx
Due: frontend-lint

feat: フロントエンドテストカバレッジを70.62%まで大幅改善
  frontend/src/app/error.test.tsx
  frontend/src/app/layout.test.tsx
  frontend/src/app/loading.test.tsx
  frontend/src/features/feeds/pages/FeedListPage.test.tsx
  frontend/src/features/feeds/queries/api.test.ts
  frontend/src/features/feeds/queries/useCreateRSSFeed.test.tsx
  frontend/src/features/feeds/queries/useRSSFeeds.test.tsx
  frontend/src/providers/QueryProvider.test.tsx
Due: frontend-lint

feat: フロントエンドテストカバレッジを70.62%まで大幅改善 (#514)
  frontend/src/app/error.test.tsx
  frontend/src/app/layout.test.tsx
  frontend/src/app/loading.test.tsx
  frontend/src/features/feeds/pages/FeedListPage.test.tsx
  frontend/src/features/feeds/queries/api.test.ts
  frontend/src/features/feeds/queries/useCreateRSSFeed.test.tsx
  frontend/src/features/feeds/queries/useRSSFeeds.test.tsx
  frontend/src/providers/QueryProvider.test.tsx
Due: frontend-lint

feat: フロントエンドテストカバレッジを80%まで改善 (Issue #515)
  frontend/src/features/labels/components/LabelFilter.test.tsx
  frontend/src/features/labels/components/LabelList.test.tsx
  frontend/src/features/labels/hooks/useManageLabels.test.tsx
  frontend/src/features/labels/queries/api.ts
  frontend/src/features/labels/queries/queryKeys.ts
  frontend/src/types/api.ts
  frontend/tsconfig.json
  frontend/types/vitest.d.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: frontend-lint

docs: CI再実行のための小さな変更
  frontend/README.md
Due: none

feat: フロントエンドテストカバレッジを80%まで改善 (Issue #515) (#516)
  frontend/README.md
  frontend/src/features/labels/components/LabelFilter.test.tsx
  frontend/src/features/labels/components/LabelList.test.tsx
  frontend/src/features/labels/hooks/useManageLabels.test.tsx
  frontend/src/features/labels/queries/api.ts
  frontend/src/features/labels/queries/queryKeys.ts
  frontend/src/types/api.ts
  frontend/tsconfig.json
  frontend/types/vitest.d.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: frontend-lint

fix: フロントエンドCIのWarning修正とワークフロー最適化 (Issue #517)
  .github/workflows/api-lint.yml
  .github/workflows/api-test.yml
  .github/workflows/extension-lint.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/mcp-lint.yml
Due: none

feat: フロントエンドCIのカバレッジチェック有効化（Issue #518）
  .github/workflows/frontend-lint.yml
Due: none

fix: RSS読み込み機能でpublishedAtが1970/1/1になる問題を修正 (Issue #503)
  api/src/services/feedProcessor.test.ts
  api/src/services/feedProcessor.ts
Due: api-lint

fix: drizzleディレクトリをlint対象外に追加してCIエラーを修正
  api/biome.json
Due: api-lint

fix: RSS管理ページから記事数表示を削除 (Issue #501)
  frontend/src/features/feeds/components/EditFeedModal.test.tsx
  frontend/src/features/feeds/components/FeedCard.test.tsx
  frontend/src/features/feeds/components/FeedCard.tsx
  frontend/src/features/feeds/queries/useCreateRSSFeed.test.tsx
  frontend/src/features/feeds/queries/useRSSFeeds.test.tsx
  frontend/src/features/feeds/types.ts
Due: frontend-lint

🗑️ MCP経由の要約機能を削除
  api/drizzle/0007_tricky_bucky.sql
  api/drizzle/meta/0007_snapshot.json
  api/drizzle/meta/_journal.json
  api/src/db/schema.ts
  api/src/index.ts
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/interfaces/service/summary.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/routes/summary.ts
  api/src/services/bookmark.ts
  api/src/services/summary.ts
  api/tests/unit/routes/bookmarks-without-summary.test.ts
  api/tests/unit/routes/summary.test.ts
  api/tests/unit/services/summary.test.ts
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarkSummary.test.tsx
  frontend/src/features/bookmarks/components/BookmarkSummary.tsx
  frontend/src/features/bookmarks/types.ts
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/lib/promptTemplates.ts
  mcp/src/test/generateSummary.test.ts
  mcp/src/test/promptTemplates.test.ts
Due: api-lint, frontend-lint, mcp-lint

🧹 fix: Biome formatting issues (remove extra blank lines)
  api/src/index.ts
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
Due: api-lint

🔧 Claude Code ワークフローをセルフホストランナーに変更
  .github/workflows/claude.yml
Due: none

🔧 Recent page テストの日付依存問題を修正
  frontend/src/app/recent/page.test.tsx
Due: frontend-lint

🎨 コードフォーマットを修正
  frontend/src/app/recent/page.test.tsx
Due: frontend-lint

🔧 MCP要約機能削除の残存問題を修正
  api/tests/unit/repositories/bookmark.test.ts
  frontend/src/app/recent/page.tsx
Due: api-lint, frontend-lint

✨ フロントエンドテストカバレッジを向上
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/queries/useGetRecentBookmarks.test.ts
  frontend/src/features/bookmarks/types.test.ts
  frontend/src/features/feeds/types.test.ts
  frontend/src/features/labels/types.test.ts
Due: frontend-lint

✨ フロントエンドテストカバレッジを83.69%に向上
  frontend/src/app/page.test.tsx
  frontend/src/features/bookmarks/queries/api.test.ts
Due: frontend-lint

🔧 Biomeフォーマットエラーを修正
  frontend/src/app/page.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/queries/api.test.ts
  frontend/src/features/bookmarks/queries/useGetRecentBookmarks.test.ts
  frontend/src/features/bookmarks/types.test.ts
  frontend/src/features/feeds/types.test.ts
  frontend/src/features/labels/types.test.ts
Due: frontend-lint

🔧 型定義テストファイルのTypeScriptエラーを修正
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/types.test.ts
  frontend/src/features/feeds/types.test.ts
  frontend/src/features/labels/types.test.ts
Due: frontend-lint

📋 記事評価ポイント機能の要件定義ドキュメントを作成
  docs/機能仕様/記事評価ポイント機能/01_概要.md
  docs/機能仕様/記事評価ポイント機能/02_機能要件.md
  docs/機能仕様/記事評価ポイント機能/03_データモデル.md
  docs/機能仕様/記事評価ポイント機能/04_MCP設計.md
  docs/機能仕様/記事評価ポイント機能/05_API設計.md
  docs/機能仕様/記事評価ポイント機能/06_フロントエンド設計.md
  docs/機能仕様/記事評価ポイント機能/07_実装計画.md
  docs/機能仕様/記事評価ポイント機能/README.md
Due: none

Create ci-check.md
  .claude/commands/ci-check.md
Due: none

feat: 記事評価ポイント機能のデータベース設計・構築
  api/drizzle/0008_eager_revanche.sql
  api/drizzle/meta/0008_snapshot.json
  api/drizzle/meta/_journal.json
  api/src/db/schema.ts
Due: api-lint

docs: D1データベースバックアップ（article_ratingsテーブル追加後）
  api/backup_20250602_142758.sql
Due: none

feat: 記事評価ポイント機能のAPI基盤実装
  api/src/index.ts
  api/src/interfaces/repository/articleRating.ts
  api/src/interfaces/service/rating.ts
  api/src/repositories/articleRating.ts
  api/src/routes/ratings.ts
  api/src/services/rating.ts
  api/tests/unit/repositories/articleRating.test.ts
  api/tests/unit/routes/ratings.test.ts
  api/tests/unit/services/rating.test.ts
Due: api-lint

fix: lintエラー修正（フォーマット修正）
  api/tests/unit/services/rating.test.ts
Due: api-lint

test: テストカバレッジを94.19%まで向上（91.06%→94.19%）
  api/scripts/run-batch-manually.test.ts
  api/src/types/rss.test.ts
  api/tests/unit/repositories/articleRating.test.ts
  api/tests/unit/repositories/rssFeed.test.ts
  api/tests/unit/services/rating.test.ts
  api/tests/unit/services/rssFeed.test.ts
Due: api-lint

fix: Biomeフォーマット修正
  api/scripts/run-batch-manually.test.ts
  api/src/types/rss.test.ts
  api/tests/unit/repositories/articleRating.test.ts
  api/tests/unit/repositories/rssFeed.test.ts
Due: api-lint

feat: 記事評価ポイント機能のMCP基盤実装
  mcp/package.json
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/lib/articleContentFetcher.ts
  mcp/src/test/articleContentFetcher.test.ts
  mcp/src/test/ratingApiClient.test.ts
  mcp/src/test/ratingMcpTools.test.ts
  mcp/tsconfig.json
Due: mcp-lint

fix: Vitest関連パッケージのバージョン不整合を修正
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

feat: フロントエンドのテスト関連パッケージをdependabotでグループ化
  .github/dependabot.yml
Due: none

feat: Complete Phase 2 MCP rating functionality with advanced tools and API fixes
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/test/ratingApiClient.test.ts
Due: mcp-lint

fix: package-lock.jsonを再生成してCI環境での依存関係エラーを修正
  frontend/package-lock.json
Due: frontend-lint

fix: BiomeをLinux CI環境のモジュール不足エラー解決のため最新版に更新
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

fix: セルフホストランナーのoptionalDependencies問題を修正
  .github/workflows/frontend-lint.yml
Due: none

feat: 記事評価ポイント機能の閲覧専用UI実装
  frontend/src/app/ratings/page.test.tsx
  frontend/src/app/ratings/page.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/ratings/components/MCPEvaluationGuide.test.tsx
  frontend/src/features/ratings/components/MCPEvaluationGuide.tsx
  frontend/src/features/ratings/components/RatingFilters.test.tsx
  frontend/src/features/ratings/components/RatingFilters.tsx
  frontend/src/features/ratings/components/RatingStatsSummary.test.tsx
  frontend/src/features/ratings/components/RatingStatsSummary.tsx
  frontend/src/features/ratings/components/RatingsList.test.tsx
  frontend/src/features/ratings/components/RatingsList.tsx
  frontend/src/features/ratings/components/StarRating.test.tsx
  frontend/src/features/ratings/components/StarRating.tsx
  frontend/src/features/ratings/queries/api.test.ts
  frontend/src/features/ratings/queries/api.ts
  frontend/src/features/ratings/queries/queryKeys.ts
  frontend/src/features/ratings/queries/useArticleRating.ts
  frontend/src/features/ratings/queries/useRatingStats.ts
  frontend/src/features/ratings/queries/useRatings.test.tsx
  frontend/src/features/ratings/queries/useRatings.ts
  frontend/src/features/ratings/types.test.ts
  frontend/src/features/ratings/types.ts
Due: frontend-lint

fix: TypeScriptエラーを修正してCI失敗を解決
  frontend/src/components/Header.tsx
  frontend/src/features/ratings/queries/api.ts
  frontend/types/vitest.d.ts
Due: frontend-lint
