Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

docs: ADR001_フロントエンドにNextjsのRouteHandlerをBFFとして採用する
  docs/ADR/001_フロントエンドにNextjsのRouteHandlerをBFFとして採用する.md
  docs/ADR/README.md
Due: none

docs: OpenAPIとOrvalを用いた型自動生成の導入に関するADRを追加
  docs/ADR/002_OpenAPIとOrvalで型自動生成を導入する.md
Due: none

Cleanup script changes for task attempt f48fa1a9-6efd-425f-b3a1-19efe229b9bb
  api/package.json
  api/src/scripts/reset-miniflare-d1.ts
Due: api-lint

feat(api): 冪等性のためローカルD1をを削除してからSeedingを実行するように修正
  api/package.json
  api/src/scripts/reset-miniflare-d1.ts
Due: api-lint

🧹 chore: LabelCleanupのコメントを削除
  frontend/src/features/labels/components/LabelCleanup.tsx
Due: frontend-lint

**変更内容** - `frontend/src/hooks/useToast.test.tsx` を削除して不要なテストを整理しました。
  frontend/src/hooks/useToast.test.tsx
Due: frontend-lint

**Summary** - `frontend/src/lib/api/queryClient.ts:1` からインラインのVitestテストブロックを削除し、クライアント設定コードのみを残しました。
  frontend/src/lib/api/queryClient.ts
Due: frontend-lint

**変更** - `frontend/src/lib/api/errors.ts` からインラインのVitestテストブロックを削除し、エラー定義のみを保持しました。
  frontend/src/lib/api/errors.ts
Due: frontend-lint

**変更内容** - 指定のテストファイルを削除: `frontend/src/features/labels/types.test.ts`.
  frontend/src/features/labels/types.test.ts
Due: frontend-lint

**概要** - `frontend/src/features/labels/queries/queryKeys.ts:1` からVitest参照とインラインテストを除去しキー定義のみを保持。 - `frontend/src/features/labels/queries/queryKeys.test.ts:1` に同等のテストを移し、各キー生成パターンを検証。
  frontend/src/features/labels/queries/queryKeys.test.ts
  frontend/src/features/labels/queries/queryKeys.ts
Due: frontend-lint

**Summary** - `frontend/src/lib/api/__tests__/queryClient.test.ts:1` に QueryClient のグローバルエラーハンドリングを検証する分離テストを追加し、Toast呼び出し・フォールバック・ApiErrorコード別のdurationを確認する形に整理しました。
  frontend/src/lib/api/__tests__/queryClient.test.ts
Due: frontend-lint

**対応内容** - インラインだったエラーハンドリング用のVitestを `frontend/src/lib/api/errors.test.ts` に切り出し、主なシナリオ（生成、メッセージ判定、HTTPステータス別コード、カスタム詳細）をカバー。
  frontend/src/lib/api/errors.test.ts
Due: frontend-lint

**対応内容** - `frontend/src/features/labels/queries/queryKeys.test.ts:1` の不要なファイル冒頭コメントを削除。
  frontend/src/features/labels/queries/queryKeys.test.ts
Due: frontend-lint

**変更** - `frontend/src/features/labels/hooks/useLabels.ts:6-44` 自明な説明コメントを削除し、コ���ド本体のみで読みやすく整理しました。
  frontend/src/features/labels/hooks/useLabels.ts
Due: frontend-lint

**変更内容** - `frontend/src/features/labels/hooks/useManageLabels.test.tsx:45` での基本的な状態・操作の4ケースのみを残し、存在しないIDに対する2つの過剰なテストケースを削除。
  frontend/src/features/labels/hooks/useManageLabels.test.tsx
Due: frontend-lint

**変更概要** - `frontend/src/features/labels/queries/api.ts:1` から Vitest 用参照とインラインテストブロックを削除し、API 関数定義のみのファイルに整理しました。
  frontend/src/features/labels/queries/api.ts
Due: frontend-lint

fix: remove redundant test case in useLabels.test.tsx
  frontend/src/features/labels/hooks/useLabels.test.tsx
Due: frontend-lint

feat: Add label filtering to the favorites page and refine loading/error state management.
  frontend/src/app/favorites/page.tsx
Due: frontend-lint

chore: Add `ensure-better-sqlite3` script and integrate its execution into the seed command.
  api/package.json
  api/src/scripts/README.md
  api/src/scripts/ensure-better-sqlite3.ts
Due: api-lint

fix: format
  api/src/scripts/ensure-better-sqlite3.ts
Due: api-lint

🧹 chore: LabelCreateFormのコメントを削除してスタイル統一
  frontend/src/features/labels/components/LabelCreateForm.tsx
Due: frontend-lint

ラベル作成フォームの補足コメント文言を削除してシンプルな表示にしました。対象は`frontend/src/features/labels/components/LabelCreateForm.tsx`のラベル名・説明入力欄下にあった案内テキストです。
  frontend/src/features/labels/components/LabelCreateForm.tsx
Due: frontend-lint

**変更概要** - `frontend/src/features/labels/hooks/useManageLabels.test.tsx` の `fetchLabels` モックにデフォルト戻り値（空配列）を設定し、React Query の警告が出ないようにしました。不要になった `api` インポートを削除しました。
  frontend/src/features/labels/hooks/useManageLabels.test.tsx
Due: frontend-lint

- ラベル付け変更時のトースト表示を止めました。`BookmarkCard` から `useAssignLabelToBookmark` の呼び出しで `showToast` を渡さないようにし、他のトーストはそのまま維持しています（`frontend/src/features/bookmarks/components/BookmarkCard.tsx`）。
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

- `api/drizzle/PERFORMANCE_INDEXES.md` を削除。マイグレーション履歴と重複しており、`rg` でリポジトリ内の参照がないことを確認済みです。 - チェック実行: `cd api && pnpm run lint`（Biomチェック通過）。
  api/drizzle/PERFORMANCE_INDEXES.md
Due: none

apiのユニットテスト方針から外れていた `api/tests/unit/db/performance-indexes.test.ts` を削除し、関連参照がないことも確認済みです（`rg`で該当なし）。
  api/tests/unit/db/performance-indexes.test.ts
Due: api-lint

不要になっていたパフォーマンステスト `api/tests/performance/bookmark-performance.test.ts` を削除し、空になった `api/tests/performance` ディレクトリも片付けました。リポジトリ内に当該テストへの参照がないことを確認しています。
  api/tests/performance/bookmark-performance.test.ts
Due: api-lint

- fetchモックを`api/tests/setup.ts`に集約し、参照先だった`api/tests/test-utils.ts`を削除して冗長なユーティリティを解消しました。 - `pnpm run format`、`pnpm run test`（いずれも`api`配下）を実行し、正常完了を確認しました。
  api/tests/setup.ts
  api/tests/test-utils.ts
Due: api-lint

**変更** - リポジトリ関連のテストを実装横に移動し、インポートを`api/src/repositories/*.test.ts`内で相対パスに更新。 - 旧配置`api/tests/unit/repositories`を削除し、実装ディレクトリとテストを同一階層に集約。
  api/src/repositories/articleLabel.test.ts
  api/src/repositories/batch-label.test.ts
  api/src/repositories/bookmark.test.ts
  api/src/repositories/duplicate-fix-verification.test.ts
  api/src/repositories/duplicate-sorting.test.ts
  api/src/repositories/label.test.ts
  api/src/repositories/markAsUnread.test.ts
  api/src/repositories/sorting-fix-verification.test.ts
Due: api-lint

**変更概要** - サービス層テスト5件を`api/src/services/*.test.ts`へ移動し、型/サービスのimportを隣接ファイル基準に調整しました。 - 旧`api/tests/unit/services`配下を整理し、実装とテストを同階層に統一しました。
  api/src/services/batch-label.test.ts
  api/src/services/bookmark.test.ts
  api/src/services/label.test.ts
  api/src/services/markAsUnread.test.ts
  api/src/services/unratedBookmarks.test.ts
Due: api-lint

- テストセットアップを `api/src/tests/setup.ts` に移動し、`mockFetch` の���照を `../../tests/test-utils` に変更して実装側に隣接させました（旧 `api/tests/setup.ts` は削除）。 - Vitest 設定の `setupFiles` を新パスに更新しました（`api/vitest.config.ts`）。
  api/src/tests/setup.ts
  api/vitest.config.ts
Due: api-lint

変更内容: - `api/wrangler.jsonc` から `"triggers"` セクションを削除し、不要なcron設定を排除しました。
  api/wrangler.jsonc
Due: none

- テストセットアップを `api/src/tests/setup.ts` へ移動し、`mockFetch` の参照を新しい相対パスに調整しました。 - `api/vitest.config.ts` の `setupFiles` を新パスに更新し、テスト実行時に新しいセットアップが読み込まれるようにしました。
  api/src/tests/setup.ts
  api/vitest.config.ts
Due: api-lint

- `api/.env.example` をCloudflare D1接続に必要な3項目だけに絞り、drizzle-kitでリモートDBを扱う際に必須である旨をコメントで明記しました。 - `frontend/.env.example` から未使用の `NEXT_PUBLIC_USE_MOCK_DATA` を削除し、実際に参照されるAPIベースURLのみ残しました。
  api/.env.example
  frontend/.env.example
Due: none

- テストセットアップを実装側に寄せ、`api/src/tests/setup.ts`へ移動。旧`api/tests/setup.ts`は削除。 - Vitest設定`api/vitest.config.ts`の`setupFiles`を新パスに更新。
  api/src/tests/setup.ts
  api/vitest.config.ts
Due: api-lint

- linter設定をシンプル化し、`api/biome.json` の `linter.rules` を recommended のみの最小構成に変更しました。 - 実行コマンド: `cd api && pnpm biome check`.
  api/biome.json
Due: api-lint

- wrangler設定から未使用のコメントアウト���KV/R2/AI例や開発D1説明行）を削除し、必要項目のみに整理しました（api/wrangler.jsonc）。
  api/wrangler.jsonc
Due: none

Lintの指摘（インポート順）を修正しました。`api/src/repositories/bookmark.test.ts`で`BookmarkWithLabel`の型インポートを並べ替え、再フォーマット済みです。
  api/src/repositories/bookmark.test.ts
Due: api-lint

Knip指摘を解消しました。`api/src/tests/drizzle-mock.ts`の型エイリアスを非エクスポート化し、`api/knip.json`のプロジェクトパターンを`src/tests/**/*.ts`に修正しています。
  api/knip.json
  api/src/tests/drizzle-mock.ts
Due: api-lint

モックホイスティングの再修正を行いました。`require`を`vi.hoisted`内で使い、Drizzleモックを同期ロードする形に統一し、トップレベルでの未初期化参照エラーを解消しています（各リポジトリ系テストで対応）。不要になった`createDrizzle…`の静的インポートも削除しました。
  api/src/repositories/articleLabel.test.ts
  api/src/repositories/batch-label.test.ts
  api/src/repositories/bookmark.test.ts
  api/src/repositories/duplicate-fix-verification.test.ts
  api/src/repositories/duplicate-sorting.test.ts
  api/src/repositories/label.test.ts
  api/src/repositories/markAsUnread.test.ts
  api/src/repositories/sorting-fix-verification.test.ts
Due: api-lint
