Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

🔧 refactor: determineStatusCode関数の型安全性を強化
  api/src/routes/bookshelf.ts
Due: api-lint

Update z-orchestrator.md
  .claude/commands/z-orchestrator.md
Due: none

🔧 refactor: エラークラスの設計一貫性を向上
  api/src/exceptions/bookshelf.ts
  api/src/routes/bookshelf.ts
  api/src/services/BookshelfService.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🔧 fix: Claude Code Reviewワークフローの設定を修正
  .github/workflows/claude-code-review.yml
Due: none

✨ feat: 本棚詳細画面の無効URLエラーをToast通知に置き換え
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/bookshelf/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContainer.tsx
  frontend/src/components/Toast/index.ts
  frontend/src/hooks/useToast.tsx
Due: frontend-lint

🔧 fix: パフォーマンステストの閾値を現実的な値に調整
  api/tests/performance/bookmark-performance.test.ts
Due: api-lint

🧪 評価ページ統合テストの有効化とページ実装
  frontend/src/app/ratings/page.test.tsx
  frontend/src/app/ratings/page.test.tsx.skip
  frontend/src/app/ratings/page.tsx
  frontend/src/features/ratings/queries/useRatingStats.ts
  frontend/src/features/ratings/queries/useRatings.ts
Due: frontend-lint

🔄 refactor: ブックマークカードのクリップボードエラーをToast通知に置き換え
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
Due: frontend-lint

🐛 fix: CI失敗を修正 - ToastProviderをテストファイルに追加
  frontend/src/app/favorites/page.test.tsx
  frontend/src/app/page.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
Due: frontend-lint

🔄 refactor: 記事追加モーダルのエラー通知をToastに置き換え (#869)
  frontend/src/features/bookmarks/components/CreateBookmarkModal.test.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.tsx
Due: frontend-lint

♻️ refactor: エラーハンドリングの型安全性を改善
  frontend/src/features/bookmarks/components/CreateBookmarkModal.test.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.tsx
  frontend/src/features/bookmarks/utils/error-handler.ts
Due: frontend-lint

🎨 style: Biomeフォーマッターによる自動修正
  frontend/src/features/bookmarks/components/CreateBookmarkModal.test.tsx
Due: frontend-lint

🔄 refactor: お気に入りトグルのエラー通知をToastに置き換え
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
Due: frontend-lint

✨ improve: エラーメッセージの具体性向上とテストカバレッジ強化
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
Due: frontend-lint

🔄 既読/未読マーク: エラー通知をToastに置き換え
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
Due: frontend-lint

🔧 refactor: ToastOptions型定義を共通ファイルに移動
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
  frontend/src/features/bookmarks/types/toast.ts
Due: frontend-lint

🔄 refactor: API通信エラーをToast通知に置き換え
  frontend/src/app/layout.test.tsx
  frontend/src/app/layout.tsx
  frontend/src/features/bookmarks/queries/api.ts
  frontend/src/lib/api/errors.ts
  frontend/src/lib/api/queryClient.ts
  frontend/src/providers/QueryProvider.test.tsx
  frontend/src/providers/QueryProvider.tsx
Due: frontend-lint

🐛 fix: Lintエラーを修正 - 余分な空行を削除
  frontend/src/lib/api/errors.ts
Due: frontend-lint

🔧 refactor: Toast通知コンポーネントの責務分離とファイル構成の改善
  frontend/src/app/favorites/page.test.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.test.tsx
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContainer.tsx
  frontend/src/components/Toast/index.ts
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
  frontend/src/features/bookmarks/types/toast.ts
  frontend/src/hooks/useToast.ts
  frontend/src/providers/QueryProvider.test.tsx
  frontend/src/providers/ToastProvider.tsx
  frontend/src/types/toast.ts
Due: frontend-lint

✨ feat: Toast通知にwarningタイプを追加
  frontend/src/components/Toast/Toast.tsx
  frontend/src/types/toast.ts
Due: frontend-lint

🔧 refactor: console.error()をToast通知に置き換え
  frontend/src/app/error.test.tsx
  frontend/src/app/error.tsx
Due: frontend-lint

✨ feat: Toast通知のアニメーション改善
  frontend/src/app/globals.css
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContainer.tsx
Due: frontend-lint

♻️ refactor: Claudeレビューに基づく軽微な改善
  frontend/src/app/globals.css
  frontend/src/components/Toast/Toast.tsx
Due: frontend-lint

🔧 refactor: Toast通知テストファイルの分離
  frontend/src/components/Toast/Toast.test.tsx
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContainer.test.tsx
  frontend/src/components/Toast/ToastContainer.tsx
  frontend/src/hooks/useToast.test.tsx
  frontend/src/hooks/useToast.ts
Due: frontend-lint

✨ fix: Remove unused X close button from Modal component
  frontend/src/components/Modal.test.tsx
  frontend/src/components/Modal.tsx
Due: frontend-lint

chore: Claude Code Reviewをコメント発火に変更
  .github/workflows/ci-self-hosted.yml.old
  .github/workflows/claude-code-review.yml
Due: none

chore: claude-code-review.ymlの無変更
  .github/workflows/claude-code-review.yml
Due: none

fix: 不要なファイルを削除
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .github/workflows/disabled/README.md
  .github/workflows/disabled/ci-github-hosted.yml.disabled
Due: none

chore: CI設定をself-hostedからubuntu-latestに変更し、MCP用のCIワークフローを追加
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
Due: none

chore(mcp): format適用
  mcp/biome.json
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/test/apiClient.bookmarks.test.ts
  mcp/src/test/apiClient.edge-cases.test.ts
  mcp/src/test/apiClient.integration.test.ts
  mcp/src/test/apiClient.labels.test.ts
  mcp/src/test/index.test.ts
Due: mcp-lint

chore: 削除
  .github/docs/self-hosted-runner-setup.md
  .github/scripts/auto-label.js
Due: none

fix: linterコマンドを修正し、biome checkの実行方法を統一
  .github/workflows/ci-mcp.yml
  mcp/package.json
Due: mcp-lint

fix: 不要なので削除
  test-results/.last-run.json
Due: none

chore: 使用されたくないAssignLabelを除却
  mcp/README.md
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

docs: 削除した内容をドキュメントから除却
  docs/機能仕様/ラベリング機能/06_Claude連携.md
  docs/機能仕様/記事要約機能/03_MCP設計.md
  docs/機能仕様/記事要約機能/05_実装計画.md
  docs/機能仕様/記事評価ポイント機能/05_API設計.md
  docs/調査_設計等/issue483_mcp_summary_ux_investigation.md
  docs/調査_設計等/mcp/architecture.md
Due: none

docs: 調整
  docs/調査_設計等/mcp/architecture.md
Due: none

fix: MCPのテストを削除する
  .github/workflows/ci-mcp.yml
  mcp/package.json
  mcp/pnpm-lock.yaml
  mcp/src/test/apiClient.bookmarks.test.ts
  mcp/src/test/apiClient.edge-cases.test.ts
  mcp/src/test/apiClient.integration.test.ts
  mcp/src/test/apiClient.labels.test.ts
  mcp/src/test/index.test.ts
Due: mcp-lint

chore: 要約管理ツールを削除
  mcp/README.md
  mcp/package.json
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

chore: update
  mcp/pnpm-lock.yaml
Due: none

chore: MCP除却：getReadBookmarks
  docs/調査_設計等/mcp/architecture.md
  mcp/README.md
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
