Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

🐛 BookmarksListテストの修正
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
Due: frontend-lint

refactor: RatingAPI呼び出しをRatingDisplayコンポーネントに分離して最適化 (#666)
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
  frontend/src/features/bookmarks/components/RatingDisplay.test.tsx
  frontend/src/features/bookmarks/components/RatingDisplay.tsx
Due: frontend-lint

fix: RatingDisplayコンポーネントの「未評価」表示を削除 (#668)
  frontend/src/features/bookmarks/components/RatingDisplay.test.tsx
  frontend/src/features/bookmarks/components/RatingDisplay.tsx
Due: frontend-lint

fix: CI失敗の修正
  mcp/src/test/index.test.ts
Due: mcp-lint

fix: フォーマットエラーを修正
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
Due: frontend-lint

fix: 評価機能削除に伴いコードカバレッジ閾値を調整
  api/vitest.config.ts
Due: api-lint

🗄️ マイグレーションファイルを再構築してD1データベースを初期化
  api/drizzle/0000_furry_valeria_richards.sql
  api/drizzle/0000_tired_major_mapleleaf.sql
  api/drizzle/0001_closed_layla_miller.sql
  api/drizzle/0002_dry_edwin_jarvis.sql
  api/drizzle/0003_joyous_adam_destine.sql
  api/drizzle/0004_woozy_zemo.sql
  api/drizzle/0005_stormy_shinko_yamashiro.sql
  api/drizzle/0006_lumpy_nomad.sql
  api/drizzle/0007_tricky_bucky.sql
  api/drizzle/0008_eager_revanche.sql
  api/drizzle/0009_flashy_maverick.sql
  api/drizzle/0010_awesome_gargoyle.sql
  api/drizzle/meta/0000_snapshot.json
  api/drizzle/meta/0001_snapshot.json
  api/drizzle/meta/0002_snapshot.json
  api/drizzle/meta/0003_snapshot.json
  api/drizzle/meta/0004_snapshot.json
  api/drizzle/meta/0005_snapshot.json
  api/drizzle/meta/0006_snapshot.json
  api/drizzle/meta/0007_snapshot.json
  api/drizzle/meta/0008_snapshot.json
  api/drizzle/meta/0009_snapshot.json
  api/drizzle/meta/0010_snapshot.json
  api/drizzle/meta/_journal.json
Due: api-lint

fix: 記事評価機能削除に伴うarticleRatings参照エラーを修正
  api/src/repositories/bookmark.ts
Due: api-lint

test: findUnratedメソッドの新しい仕様に対応するテストを追加
  api/tests/unit/repositories/bookmark.test.ts
Due: api-lint

🎨 UI：BookmarkCardの高さを固定し、タイトルの省略表示を改善
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

feat: 表示順を新しい順に変更
  api/src/repositories/bookmark.ts
  api/tests/unit/repositories/bookmark.test.ts
Due: api-lint

🌐 タイムゾーン処理の改善と設定可能化
  api/src/config/timezone.ts
  api/src/services/bookmark.ts
  api/src/utils/timezone.ts
Due: api-lint

✨ feat: バリデーションロジックの共通化とコード重複解消
  api/src/routes/bookmarks.ts
  api/src/routes/labels.ts
  api/src/utils/validation.ts
Due: api-lint

🛠️ feat: 設定値のハードコード解消と外部設定化
  api/.env.example
  api/src/config/index.ts
  api/src/repositories/bookmark.ts
  api/src/services/bookmark.ts
Due: api-lint

🔧 fix: CI/CDエラー解決とコード品質向上
  api/src/config/index.ts
  api/src/db/schema.ts
  api/src/routes/bookmarks.ts
  api/src/routes/labels.ts
  api/src/utils/timezone.ts
  api/src/utils/validation.ts
  api/tests/unit/repositories/bookmark.test.ts
  api/tests/unit/routes/batch-label.test.ts
  api/tests/unit/routes/bookmarks-unread.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/routes/readStatus.test.ts
  api/tests/unit/services/batch-label.test.ts
  api/tests/unit/services/bookmark.test.ts
  api/tests/unit/services/label.test.ts
  api/vitest.config.ts
Due: api-lint

🧪 Issue #674: APIのコードカバレッジを99.37%に大幅向上
  api/src/config/index.ts
  api/src/exceptions/business.ts
  api/src/exceptions/http.ts
  api/src/exceptions/utils.ts
  api/src/utils/timezone.ts
  api/src/utils/validation.ts
Due: api-lint

🔧 fix: TypeScript型安全性向上とCIエラー解決
  api/src/config/index.ts
  api/src/config/timezone.ts
  api/src/routes/bookmarks.ts
  api/src/routes/labels.ts
  api/tests/unit/routes/batch-label.test.ts
  api/tests/unit/routes/labels.test.ts
  api/tests/unit/routes/readStatus.test.ts
  api/tests/unit/routes/unratedBookmarks.test.ts
  api/tests/unit/services/markAsUnread.test.ts
  api/tests/unit/services/readStatus.test.ts
Due: api-lint

🔧 fix: labels.ts依存関係注入統一による性能改善
  api/src/index.ts
  api/src/routes/labels.ts
Due: api-lint

🔧 fix: エラーハンドリングの統一化とレスポンス形式の一貫性確保
  api/src/routes/bookmarks.ts
Due: api-lint

✨ feat: 未読ブックマークの表示順を作成日時の降順に変更
  api/src/repositories/bookmark.ts
  api/tests/unit/repositories/bookmark.test.ts
Due: api-lint

✨ feat: PlaywrightによるE2Eテストフレームワークの導入
  api/src/exceptions/index.ts
  api/src/exceptions/utils.ts
  api/src/index.ts
  api/src/routes/bookmarks.ts
  api/src/routes/labels.ts
  api/tests/unit/routes/dev.test.ts
  api/tests/unit/routes/labels.test.ts
  frontend/.gitignore
  frontend/e2e/README.md
  frontend/e2e/fixtures/test-data.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/tests/homepage.spec.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vitest.config.ts
  package-lock.json
  package.json
Due: api-lint, frontend-lint

🔧 fix: lintエラーの修正 - 関数引数の改行とimport順序の修正
  api/src/exceptions/utils.ts
  frontend/playwright.config.ts
Due: api-lint, frontend-lint

🔧 fix: ESMモジュールエラーの修正 - CommonJS形式に変更
  frontend/playwright.config.ts
Due: frontend-lint

🔧 fix: Playwright設定をESM対応に修正 - .mjsファイル利用
  frontend/e2e/tests/basic.spec.ts
  frontend/e2e/tests/homepage.spec.ts.bak
  frontend/playwright.config.mjs
Due: frontend-lint

🔧 fix: basic.spec.tsのlintエラー修正 - import順序と改行
  frontend/e2e/tests/basic.spec.ts
Due: frontend-lint

✨ feat: Issue #599の要求通りにE2Eテストを実装
  frontend/e2e/tests/basic.spec.ts
  frontend/e2e/tests/homepage.spec.ts
  frontend/playwright.config.mjs
Due: frontend-lint

🔧 fix: E2Eテストの自動サーバー起動問題を修正
  frontend/e2e/README.md
  frontend/playwright.config.mjs
Due: none

🔧 fix: wrangler設定修正とE2E自動サーバー起動改善
  frontend/e2e/README.md
  frontend/playwright.config.mjs
Due: none

🔧 fix: E2Eテストのサーバー起動問題とプロセス独占問題を修正
  frontend/e2e/README.md
  frontend/e2e/tests/homepage.spec.ts
  frontend/package.json
  frontend/playwright.config.mjs
  frontend/start-servers.js
Due: frontend-lint

🔧 fix: Node.jsモジュールインポートのプロトコルとフォーマットを修正
  frontend/start-servers.js
Due: frontend-lint

🔧 fix: wrangler設定とpackage.jsonの修正を追加
  api/wrangler.jsonc
  package.json
Due: none

🔧 fix: 開発環境と本番環境のデータベース分離を実装
  api/.env.example
  api/DATABASE_CONFIG.md
  api/drizzle.config.ts
  api/package.json
  api/src/config/database.ts
  api/wrangler.jsonc
Due: api-lint

🔧 fix: 開発環境でローカルSQLiteを使用するように修正
  api/DATABASE_CONFIG.md
Due: none

feat: 開発環境用シードデータ生成機能を実装
  api/package-lock.json
  api/package.json
  api/src/scripts/README.md
  api/src/scripts/seed.ts
  api/vitest.config.ts
Due: api-lint

fix: vitest設定のincludeSourceをincludeに修正
  api/vitest.config.ts
Due: api-lint

fix(config): vitest設定のcoverage.includeプロパティを削除
  api/vitest.config.ts
Due: api-lint

feat: シードデータ管理API実装(Issue #706)
  api/src/index.ts
  api/src/interfaces/service/seed.ts
  api/src/routes/seed.ts
  api/src/services/seed.ts
  api/src/utils/validation.ts
Due: api-lint

feat: セルフホストランナー用GitHub Actions CI実装
  .github/docs/self-hosted-runner-setup.md
  .github/workflows/ci-self-hosted.yml
  .github/workflows/runner-maintenance.yml
  api/.github/docs/self-hosted-runner-setup.md
Due: none
