Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

🐛 fix: GitHub Actionsのワークフローでの実行環境をself-hostedに変更
  .github/workflows/api-lint.yml
  .github/workflows/api-test.yml
  .github/workflows/deploy.yml
  .github/workflows/extension-lint.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/mcp-lint.yml
Due: none

✨ feat: 未読一覧画面_要約ボタンの位置を変更 #480
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🐛 fix: RSS CRONバッチが動作しない問題を修正 #477
  api/src/index.ts
  docs/機能仕様/RSS読み込み機能/08_CRONバッチ動作確認ガイド.md
Due: api-lint

📝 docs: MCP要約生成機能のUX改善に関する調査ドキュメントを追加 #483
  docs/調査_設計等/issue483_mcp_summary_ux_investigation.md
Due: none

🗑️ chore: ラベル管理機能の改善ポイントに関するドキュメントを削除
  issue_label_management_improvements.md
Due: none

📝 docs: Claude Desktopによる記事アクセスとエンジニア向け要約生成について更新
  docs/調査_設計等/issue483_mcp_summary_ux_investigation.md
Due: none

✨ feat: MCPツールでClaude Desktopが記事URLに直接アクセスする機能の実装 #486
  mcp/README.md
  mcp/src/index.ts
  mcp/src/test/generateSummary.test.ts
Due: mcp-lint

✨ feat: エンジニア向け技術記事要約プロンプトの最適化 #487
  mcp/src/index.ts
  mcp/src/lib/promptTemplates.ts
  mcp/src/test/generateSummary.test.ts
  mcp/src/test/promptTemplates.test.ts
Due: mcp-lint

📝 docs: リモートMCPサーバー調査・実装計画の策定 #489
  docs/調査_設計等/remote_mcp/README.md
Due: none

📝 docs: リモートMCPサーバー調査・実装計画の策定 #489 (#497)
  docs/調査_設計等/remote_mcp/README.md
Due: none

🐛 fix: RSS バッチ処理でのFOREIGN KEY制約エラーを修正 #498
  api/src/db/schema.ts
  api/src/services/batchProcessor.ts
Due: api-lint

🔧 test: batchProcessorテストのfeedId期待値をnullに修正
  api/src/services/batchProcessor.test.ts
Due: api-lint

🗃️ migration: rssBatchLogsのfeedIdをNULL許可に変更するマイグレーション
  api/drizzle.config.ts
  api/drizzle/0006_lumpy_nomad.sql
Due: api-lint

🐛 fix: RSS バッチ処理でのFOREIGN KEY制約エラーを修正 #498 (#499)
  api/drizzle.config.ts
  api/drizzle/0006_lumpy_nomad.sql
  api/src/db/schema.ts
  api/src/services/batchProcessor.test.ts
  api/src/services/batchProcessor.ts
Due: api-lint

Add initial database schema for version 6 with tables for articles, bookmarks, favorites, labels, RSS feeds, and logs
  api/backup_20250524_124822.sql
  api/backup_20250524_124829.sql
  api/backup_prod_20250524_124840.sql
  api/drizzle/meta/0006_snapshot.json
  api/drizzle/meta/_journal.json
Due: api-lint

📝 docs: CLAUDE.mdにテスト駆動開発に関するセクションを追加
  CLAUDE.md
Due: none

📝 docs: テストカバレッジに関するガイドラインを追加
  .claude/commands/test-coverage.md
Due: none

✨ feat: Playwright MCPを利用した探索的テストの手順を追加
  .claude/commands/playwright.md
Due: none

Docs/issue 502 (#504)
  .claude/commands/playwright.md
  .claude/commands/test-coverage.md
  CLAUDE.md
Due: none

✨ feat: フロントエンド単体テスト環境を構築 #505
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button.test.tsx
  frontend/src/features/labels/hooks/useLabels.test.tsx
  frontend/tsconfig.json
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: frontend-lint

✨ feat: フロントエンドテスト用CIワークフローを追加
  .github/workflows/frontend-test.yml
  frontend/vitest.config.ts
Due: frontend-lint

🔧 refactor: フロントエンドテスト機能をlintワークフローに統合
  .github/workflows/frontend-lint.yml
  .github/workflows/frontend-test.yml
Due: none

🎨 style: vitest.config.tsのフォーマット修正
  frontend/vitest.config.ts
Due: frontend-lint

🔧 fix: useLabels.test.tsxのTypeScriptエラーを修正
  frontend/src/features/labels/hooks/useLabels.test.tsx
Due: frontend-lint

✨ feat: フロントエンド単体テスト環境を構築 #505 (#506)
  .github/workflows/frontend-lint.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button.test.tsx
  frontend/src/features/labels/hooks/useLabels.test.tsx
  frontend/tsconfig.json
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: frontend-lint

✅ test: BookmarkCard と CreateBookmarkModal のテストを追加
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.test.tsx
Due: frontend-lint

✅ test: LabelDeleteConfirm のテストを追加
  frontend/src/features/labels/components/LabelDeleteConfirm.test.tsx
Due: frontend-lint

fix: Biome lint errors in test files
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/CreateBookmarkModal.test.tsx
  frontend/src/features/labels/components/LabelDeleteConfirm.test.tsx
Due: frontend-lint

fix: Add missing updatedAt field in test mock
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
Due: frontend-lint

docs: CIに関する重要なガイドラインを追加
  CLAUDE.md
Due: none

fix: テスト失敗の修正
  frontend/src/features/labels/components/LabelDeleteConfirm.test.tsx
Due: frontend-lint

feat: フロントエンドテストカバレッジを大幅改善（2.05% → 36.68%）
  frontend/src/components/ConfirmDialog.test.tsx
  frontend/src/components/Header.test.tsx
  frontend/src/components/Modal.test.tsx
  frontend/src/features/bookmarks/components/BookmarkSummary.test.tsx
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
  frontend/src/features/labels/components/LabelCreateForm.test.tsx
Due: frontend-lint

feat: フロントエンドテストカバレッジを更に改善（36.68% → 継続改善）
  frontend/src/app/page.test.tsx
  frontend/src/features/bookmarks/queries/useCreateBookmark.ts
  frontend/src/features/bookmarks/queries/useGetRecentBookmarks.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
  frontend/src/features/labels/components/LabelEditForm.test.tsx
  frontend/src/features/labels/hooks/useManageLabels.ts
Due: frontend-lint

fix: フォーマットエラーを修正
  frontend/src/features/bookmarks/queries/useGetRecentBookmarks.ts
Due: frontend-lint

fix: TypeScript互換性問題を解決してCI/CDパイプライン修正
  frontend/src/features/bookmarks/queries/useCreateBookmark.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsRead.ts
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
  frontend/src/features/bookmarks/queries/useToggleFavoriteBookmark.ts
  frontend/src/features/labels/hooks/useManageLabels.ts
Due: frontend-lint

feat: フロントエンドテストカバレッジを50.31%へ大幅改善（Issue #511達成）
  frontend/src/app/favorites/page.test.tsx
  frontend/src/app/feeds/page.test.tsx
  frontend/src/app/labels/page.test.tsx
  frontend/src/app/recent/page.test.tsx
  frontend/src/features/feeds/components/CreateFeedModal.test.tsx
  frontend/src/features/feeds/components/EditFeedModal.test.tsx
  frontend/src/features/feeds/components/FeedCard.test.tsx
Due: frontend-lint

fix: TypeScript型エラーとLintエラーを修正
  frontend/src/app/favorites/page.test.tsx
  frontend/src/app/feeds/page.test.tsx
  frontend/src/app/labels/page.test.tsx
  frontend/src/app/recent/page.test.tsx
  frontend/src/features/feeds/components/CreateFeedModal.test.tsx
  frontend/src/features/feeds/components/EditFeedModal.test.tsx
  frontend/src/features/feeds/components/FeedCard.test.tsx
Due: frontend-lint

fix: テスト失敗を修正しカバレッジ60.74%達成
  frontend/src/features/feeds/components/CreateFeedModal.test.tsx
  frontend/src/features/feeds/components/EditFeedModal.test.tsx
  frontend/src/features/feeds/components/FeedCard.test.tsx
Due: frontend-lint

feat: CIカバレッジチェックを8割到達まで一時的に無効化
  .github/workflows/frontend-lint.yml
Due: none

fix: Biomeフォーマットエラーを修正
  frontend/src/features/feeds/components/CreateFeedModal.test.tsx
Due: frontend-lint

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
