Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

fix: biome v2 nursery rule useUniqueElementIdsを無効化
  biome.json
Due: none

fix: E2Eテストの不安定なテストケースを一時的にスキップ
  api/biome.json
  extension/biome.json
  frontend/e2e/tests/essential-scenarios.spec.ts
  mcp/biome.json
  test-results/.last-run.json
Due: api-lint, frontend-lint, extension-lint, mcp-lint

feat: GitHub Actions無料枠制限によりE2Eテストを一時的に無効化
  .github/workflows/disabled/README.md
  .github/workflows/disabled/ci-github-hosted.yml.disabled
  CLAUDE.md
Due: none

chore: dependabotのPR作成を月1回に抑制
  .github/dependabot.yml
Due: none

fix: issue-745 未読一覧APIの500エラーを解決
  api/src/repositories/bookmark.ts
Due: api-lint

fix: CIでのパスエイリアス解決エラーを修正
  api/src/repositories/bookmark.ts
Due: api-lint

fix: D1の制限を回避するバッチ処理を追加
  api/src/repositories/bookmark.ts
Due: api-lint

fix: フォーマット修正
  api/src/repositories/bookmark.ts
Due: api-lint

fix: issue-751 recent/page.tsxの型エラーを修正
  frontend/src/app/recent/page.tsx
Due: frontend-lint

chore: issue-767 CIの実行条件を関連ファイルの変更時に限定する
  .github/workflows/ci-self-hosted.yml
Due: none

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

feat: Claude Code Reviewをセルフホストランナーに統合
  .github/workflows/ci-self-hosted.yml
Due: none

fix: Claudeレビューコメントの重複を防ぐため既存コメントを更新するように修正
  .github/workflows/ci-self-hosted.yml
Due: none

🐛 MCPのassignLabelsToMultipleArticles関数のエラーを修正
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

feat: Claude Code Actionを使用した自動ラベル付け機能を実装
  .github/workflows/auto-labeling.yml
  .github/workflows/manual-labeling.yml
  docs/機能仕様/ラベリング機能/07_自動ラベル付け.md
Due: none

feat: Add specialized agents for frontend development, git operations, review reading, and responding
  .claude/agents/backend-developer.md
  .claude/agents/frontend-developer.md
  .claude/agents/git-operations.md
  .claude/agents/review-reader.md
  .claude/agents/review-responder.md
  .claude/commands/ci-check.md
  .claude/commands/commit-push.md
  .claude/commands/feat-issue.md
  .claude/commands/gen-test.md
  .claude/commands/playwright.md
  .claude/commands/review-fix.md
  .claude/commands/view-issues.md
  .claude/commands/z-ci-check.md
  .claude/commands/z-orchestrator.md
  .claude/commands/z-reset.md
  .claude/commands/z-similarity-ts.md
  .claude/commands/z-yolo-bdd-rgbc.md
Due: none

🔧 Claudeによるコードレビューをメンション時のみに限定
  .github/workflows/claude-code-review.yml
Due: none

♻️ ClaudeレビューワークフローをPRコメントメンション時のみに簡素化
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

📝 Claudeレビューに日本語指示を追加
  .github/workflows/claude-code-review.yml
Due: none

🔧 CIワークフローをディレクトリごとに分割して可読性を向上 (#793)
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/ci-self-hosted.yml.old
Due: none

🎯 GitHub MCPツールを追加し、詳細なレビュー指示を設定
  .github/workflows/claude-code-review.yml
Due: none

🌐 日本語レビューの指示を強化
  .github/workflows/claude-code-review.yml
Due: none

🐛 CI失敗を修正
  .github/workflows/ci-api.yml
  extension/package.json
  mcp/tsconfig.json
Due: extension-lint, mcp-lint

🔧 MCPツールの権限を修正してインラインレビューを有効化
  .github/workflows/claude-code-review.yml
Due: none

🐛 CIビルド検証パスを実際のディレクトリ構造に合わせて修正
  .github/workflows/ci-extension.yml
  .github/workflows/ci-mcp.yml
  mcp/tsconfig.json
Due: mcp-lint

♻️ MCPツールを削除しシンプルなコメントレビューに変更
  .github/workflows/claude-code-review.yml
Due: none

🔧 better-sqlite3のバージョン問題を解決
  api/package-lock.json
Due: api-lint

🐛 MCP: assignLabelsToMultipleArticles関数のデストラクチャリングエラーを修正
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/test/index.test.ts
Due: mcp-lint

🐛 CIワークフローのコマンドを実際のpackage.jsonスクリプトに合わせて修正
  .github/workflows/ci-api.yml
  .github/workflows/ci-frontend.yml
Due: none

🐛 Frontend CIにRollupのプラットフォーム固有バイナリを追加
  .github/workflows/ci-frontend.yml
Due: none

🐛 API CIのVitestレポーター設定を修正
  .github/workflows/ci-api.yml
Due: none

✅ 自動ラベル付け機能の改善とテスト追加
  .github/workflows/auto-labeling.yml
  mcp/src/test/apiClient.bookmarks.test.ts
  mcp/src/test/apiClient.edge-cases.test.ts
  mcp/src/test/apiClient.integration.test.ts
  mcp/src/test/apiClient.labels.test.ts
Due: mcp-lint

🐛 TypeScriptの型エラーを修正
  mcp/src/test/apiClient.bookmarks.test.ts
  mcp/src/test/apiClient.labels.test.ts
Due: mcp-lint

🗑️ Overall CI Statusジョブを削除
  .github/workflows/ci-main.yml
Due: none

📚 本棚機能の設計書とロードマップを追加
  docs/bookshelf-feature-design.md
  docs/bookshelf-implementation-roadmap.md
Due: none

🔧 pnpmへ移行 (#798)
  .github/workflows/auto-labeling.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/ci-self-hosted.yml.old
  .github/workflows/deploy.yml
  .github/workflows/disabled/ci-github-hosted.yml.disabled
  .github/workflows/manual-labeling.yml
  CLAUDE.md
  api/.npmrc
  api/package-lock.json
  api/pnpm-lock.yaml
  extension/package-lock.json
  extension/pnpm-lock.yaml
  frontend/package-lock.json
  frontend/pnpm-lock.yaml
  mcp/package-lock.json
  mcp/pnpm-lock.yaml
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: api-lint, frontend-lint, extension-lint, mcp-lint

📚 本棚機能の設計書を簡素化
  docs/bookshelf-feature-design.md
  docs/機能仕様/本棚機能/01_設計書.md
  docs/機能仕様/本棚機能/02_実装ロードマップ.md
Due: none

📝 本棚機能の実装ロードマップを簡素化
  docs/機能仕様/本棚機能/02_実装ロードマップ.md
Due: none

🔧 self-hostedランナーでpnpmが見つからない問題を修正
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
Due: none

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
