Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

🔧 fix: 全Biome lintエラーを修正完了
  mcp/src/test/articleContentFetcherIntegration.test.ts
  mcp/src/test/indexInitializationCoverage.test.ts
  mcp/src/test/indexMajorCoverage.test.ts
  mcp/src/test/indexSimpleCoverage.test.ts
  mcp/src/test/indexSpecificCoverage.test.ts
Due: mcp-lint

🔧 fix: TypeScript型エラーを修正してCI lint問題を解決
  mcp/src/test/articleContentFetcherIntegration.test.ts
  mcp/src/test/articleContentFetcherMajorCoverage.test.ts
  mcp/src/test/indexMajorCoverage.test.ts
Due: mcp-lint

fix: runs-onをセルフホスト指定に変更
  .github/workflows/api-lint.yml
  .github/workflows/api-test.yml
  .github/workflows/extension-lint.yml
  .github/workflows/mcp-lint.yml
Due: none

fix: リネーム
  .github/workflows/mcp-test.yml
Due: none

🔧 fix: セルフホストランナーのnpm設定を修正
  .github/workflows/api-test.yml
Due: none

chore: あえてCIでやる必要がない
  .github/workflows/labeling.yml
Due: none

🔧 fix: セルフホストランナーのnpmパス設定を修正 & MCPテストファイル整理
  mcp/src/test/apiClientAdvanced.test.ts
  mcp/src/test/issue586Coverage.test.ts
  mcp/src/test/issue587Coverage.test.ts
  mcp/src/test/issue588AdvancedCoverage.test.ts
  mcp/src/test/issue588AdvancedIndexCoverage.test.ts
  mcp/src/test/issue588Enhancement.test.ts
  mcp/src/test/issue588FinalCoverage.test.ts
  mcp/src/test/issue588IndexTools.test.ts
  mcp/src/test/issue588MainExecution.test.ts
  mcp/src/test/issue590BookmarkCoverage.test.ts
  mcp/src/test/issue590FetcherCoverage.test.ts
  mcp/src/test/issue590Final50Coverage.test.ts
  mcp/src/test/issue590MainFunctionCoverage.test.ts
  mcp/src/test/ratingStatsAdvanced.test.ts
  mcp/src/test/ratingToolsAdvanced.test.ts
Due: mcp-lint

🔧 fix: MCPワークフローでのnpmパス設定を修正
  .github/workflows/mcp-lint.yml
  .github/workflows/mcp-test.yml
Due: none

🔧 fix: レビューコメント対応 - 一時的なnpmパス設定を削除
  .github/workflows/mcp-lint.yml
  .github/workflows/mcp-test.yml
Due: none

🔧 feat: PRレビュー対応の手順とコマンド集を追加
  .claude/commands/review-fix.md
Due: none

🔧 feat: PRレビュー対応の手順とコマンド集を追加
  mcp/src/test/apiClientAdvanced.test.ts
  mcp/src/test/ratingStatsAdvanced.test.ts
Due: mcp-lint

fix: テストコードの実装プランを変更
  .claude/commands/gen-test.md
  .claude/commands/test-coverage.md
Due: none

feat: コミットメッセージ作成手順を追加
  .claude/commands/commit-push.md
Due: none

🐛 fix: MCPブックマークAPIのZodスキーマバリデーション修正
  mcp/src/lib/apiClient.ts
  mcp/src/test/apiClientCore.test.ts
  mcp/src/test/apiClientSchemaValidation.test.ts
Due: mcp-lint

🔧 fix: 評価システムのInternal Server Error修正
  api/src/index.ts
  api/src/repositories/articleRating.ts
  api/src/routes/ratings.ts
  api/src/services/rating.ts
  api/tests/unit/routes/ratings-error-handling.test.ts
  api/tests/unit/services/rating.test.ts
Due: api-lint

🧪 test: 評価システムエラーハンドリングのテストカバレッジ向上
  api/tests/unit/repositories/articleRating.test.ts
  api/tests/unit/services/rating.test.ts
Due: api-lint

🔧 fix: テストデータにupdatedAtプロパティを追加してTypeエラーを修正
  mcp/src/test/indexBookmarkTools.test.ts
  mcp/src/test/readStatus.test.ts
Due: mcp-lint

🔧 fix: 記事評価機能のInternal Server Error修正
  api/drizzle/0009_flashy_maverick.sql
  api/drizzle/0010_awesome_gargoyle.sql
  api/drizzle/meta/0010_snapshot.json
  api/drizzle/meta/_journal.json
  api/package-lock.json
  api/package.json
Due: api-lint

🙈 gitignore: SQLiteデータベースファイルを除外
  api/.gitignore
Due: none

fix: 記事評価機能のInternal Server Error修正 (#625)
  api/.gitignore
  api/drizzle/0009_flashy_maverick.sql
  api/drizzle/0010_awesome_gargoyle.sql
  api/drizzle/meta/0010_snapshot.json
  api/drizzle/meta/_journal.json
  api/package-lock.json
  api/package.json
Due: api-lint

🎨 fix: 評価表示を他のボタンより上に配置して重なりを解消
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

✨ feat: APIエラーハンドリングの標準化 - exceptions ディレクトリの実装
  api/src/exceptions/base.ts
  api/src/exceptions/business.ts
  api/src/exceptions/http.ts
  api/src/exceptions/index.ts
  api/src/exceptions/utils.ts
  api/src/routes/bookmarks.ts
  api/src/routes/labels.ts
  api/src/routes/ratings.ts
  api/src/routes/rssFeeds.ts
Due: api-lint

fix: APIテストの期待値を新しい例外処理システムに適合
  api/src/exceptions/utils.ts
  api/src/routes/bookmarks.ts
  api/src/routes/ratings.ts
  api/tests/unit/routes/batch-label.test.ts
  api/tests/unit/routes/bookmarks.test.ts
  api/tests/unit/routes/labels.test.ts
  api/tests/unit/routes/ratings.test.ts
  api/tests/unit/routes/unratedBookmarks.test.ts
Due: api-lint

🎨 UI：評価部分の表示を右寄せに変更
  frontend/src/features/ratings/components/RatingsList.test.tsx
  frontend/src/features/ratings/components/RatingsList.tsx
Due: frontend-lint

🎨 UI: 記事評価部分の表示を右寄せに変更
  frontend/package-lock.json
  frontend/src/features/ratings/components/RatingsList.test.tsx.skip
Due: frontend-lint

🧪 test: RatingsList.test.tsxのテスト修正
  frontend/src/features/ratings/components/RatingsList.test.tsx
Due: frontend-lint

🎨 style: Biomeフォーマットルールに準拠
  frontend/src/features/ratings/components/RatingsList.test.tsx
Due: frontend-lint

🐛 fix: 評価が存在しない場合の404レスポンス修正
  api/src/routes/ratings.ts
Due: api-lint

🔧 refactor: サービス・リポジトリ層への新しい例外処理システム適用
  api/src/repositories/articleRating.ts
  api/src/repositories/bookmark.ts
  api/src/services/batchProcessor.ts
  api/src/services/bookmark.ts
  api/src/services/feedProcessor.ts
  api/src/services/label.ts
  api/src/services/rating.ts
  api/src/services/rssParser.ts
Due: api-lint

🔧 refactor: 残りのサービス層への新しい例外処理システム適用完了
  api/src/services/rssFeed.ts
  api/src/services/rssFetcher.ts
Due: api-lint

🏗️ refactor: MCPディレクトリをFeatureベース構成に変更
  mcp/index.ts
  mcp/src/core/server.ts
  mcp/src/features/bookmark/services/bookmarkApiClient.ts
  mcp/src/features/bookmark/services/bookmarkService.ts
  mcp/src/features/bookmark/tools/index.ts
  mcp/src/features/bookmark/types.ts
  mcp/src/features/label/services/labelApiClient.ts
  mcp/src/features/label/services/labelService.ts
  mcp/src/features/label/tools/index.ts
  mcp/src/features/label/types.ts
  mcp/src/features/rating/services/ratingApiClient.ts
  mcp/src/features/rating/services/ratingService.ts
  mcp/src/features/rating/tools/contentRatingTool.ts
  mcp/src/features/rating/tools/index.ts
  mcp/src/features/rating/types.ts
  mcp/src/index.ts
  mcp/src/lib/api/config.ts
  mcp/src/lib/apiClient.ts
  mcp/src/lib/content/articleContentFetcher.ts
  mcp/src/test/apiClientSchemaValidation.test.ts
  mcp/tsconfig.json
Due: mcp-lint

🐛 fix: テスト互換性のための一時的なAPIクライアント追加
  mcp/src/lib/apiClient.ts
  mcp/src/lib/articleContentFetcher.ts
Due: mcp-lint

🔧 fix: CI設定を追加してテスト失敗を解決
  mcp/package.json
  mcp/src/lib/apiClient.ts
  mcp/vitest.ci.config.ts
Due: mcp-lint

🐛 fix: テスト実行時のprocess.exit問題を解決
  mcp/src/index.ts
Due: mcp-lint

🐛 fix: Dependabot PR #638のマージ競合を解決
  mcp/package-lock.json
  mcp/package.json
Due: mcp-lint

✨ feat: Dependabot設定にreviewer/assigneeを追加
  .github/dependabot.yml
Due: none

chore(mcp): bump @types/node from 22.15.29 to 22.15.30
  mcp/src/lib/apiClient.ts
  mcp/src/test/apiClientSchemaValidation.test.ts
Due: mcp-lint

🐛 fix: RSS記事の日付が1970年になる問題を修正
  api/src/services/feedProcessor.test.ts
  api/src/services/feedProcessor.ts
Due: api-lint

✨ 未評価記事のラベル表示制御機能を追加
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint
