Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

🔧 フロントエンドデプロイエラー完全修正 - @ast-grep/napi依存関係問題対応
  .github/workflows/deploy.yml
  frontend/package.json
Due: frontend-lint

🔧 依存関係管理方法を改善 - npm overridesとprefar-onlineを使用
  .github/workflows/deploy.yml
  frontend/package.json
Due: frontend-lint

🔧 GitHub Actionsでnpm ciを使用するように修正
  .github/workflows/deploy.yml
Due: none

feat: Issue #588 MCPテストカバレッジ45%達成
  mcp/src/test/issue588AdvancedIndexCoverage.test.ts
  mcp/src/test/issue588Enhancement.test.ts
  mcp/src/test/issue588IndexTools.test.ts
  mcp/src/test/issue588MainExecution.test.ts
Due: mcp-lint

🔧 デプロイワークフロー修正 - npm ciロジックエラー解決
  .github/workflows/deploy.yml
Due: none

fix: CI失敗修正 - 型エラーとLintエラーの修正
  mcp/src/test/issue588AdvancedIndexCoverage.test.ts
  mcp/src/test/issue588IndexTools.test.ts
  mcp/src/test/issue588MainExecution.test.ts
Due: mcp-lint

🔧 ast-grep依存関係の明示的インストールを追加
  .github/workflows/deploy.yml
Due: none

🔧 完全クリーンインストールでプラットフォーム依存関係問題を解決
  .github/workflows/deploy.yml
Due: none

fix: CI型エラー修正 - 環境変数テストとAPIクライアント型定義の更新
  mcp/src/test/issue588AdvancedIndexCoverage.test.ts
  mcp/src/test/issue588IndexTools.test.ts
  mcp/src/test/issue588MainExecution.test.ts
Due: mcp-lint

fix: CI型チェックエラー回避 - 新規テストファイルに@ts-nocheckを追加
  mcp/src/test/issue588AdvancedIndexCoverage.test.ts
  mcp/src/test/issue588Enhancement.test.ts
  mcp/src/test/issue588IndexTools.test.ts
  mcp/src/test/issue588MainExecution.test.ts
Due: mcp-lint

feat(mcp): Issue #589 - MCPディレクトリのテストカバレッジ50%達成
  mcp/src/test/issue589Coverage.test.ts
  mcp/src/test/issue589FinalCoverage.test.ts
  mcp/src/test/issue589IndexCoverage.test.ts
Due: mcp-lint

fix(mcp): CI環境での環境変数テスト修正
  mcp/src/test/issue589Coverage.test.ts
  mcp/src/test/issue589FinalCoverage.test.ts
  mcp/src/test/issue589IndexCoverage.test.ts
Due: mcp-lint

fix(mcp): リントエラー修正 - テンプレートリテラル使用
  mcp/src/test/issue589Coverage.test.ts
  mcp/src/test/issue589FinalCoverage.test.ts
  mcp/src/test/issue589IndexCoverage.test.ts
Due: mcp-lint

fix(mcp): 動的インポートエラー修正 - 環境変数テストを単体テストに変更
  mcp/src/test/issue589Coverage.test.ts
  mcp/src/test/issue589FinalCoverage.test.ts
  mcp/src/test/issue589IndexCoverage.test.ts
Due: mcp-lint

test(mcp): issue #589 カバレッジ向上の試行錯誤とテスト整理
  mcp/src/lib/articleContentFetcher.ts
  mcp/src/test/additionalCoverageTests.test.ts
  mcp/src/test/articleContentFetcher.test.ts
  mcp/src/test/articleContentFetcherExtended.test.ts
  mcp/src/test/articleContentFetcherUncovered.test.ts
  mcp/src/test/comprehensiveCoverageBoost.test.ts
  mcp/src/test/coverageBoostTests.test.ts
  mcp/src/test/getUnreadArticlesByLabel.test.ts
  mcp/src/test/indexBasicExecution.test.ts
  mcp/src/test/indexBasicTools.test.ts
  mcp/src/test/indexBookmarkTools.test.ts
  mcp/src/test/indexDirectServerTests.test.ts
  mcp/src/test/indexRatingTools.test.ts
  mcp/src/test/issue586Coverage.test.ts
  mcp/src/test/issue587Coverage.test.ts
  mcp/src/test/issue588AdvancedCoverage.test.ts
  mcp/src/test/issue588AdvancedIndexCoverage.test.ts
  mcp/src/test/issue588Coverage.test.ts
  mcp/src/test/issue588Enhancement.test.ts
  mcp/src/test/issue588FinalCoverage.test.ts
  mcp/src/test/issue588IndexTools.test.ts
  mcp/src/test/issue588MainExecution.test.ts
  mcp/src/test/issue589Coverage.test.ts
  mcp/src/test/issue589FinalCoverage.test.ts
  mcp/src/test/issue589IndexCoverage.test.ts
  mcp/src/test/minimalIndexCoverage.test.ts
  mcp/src/test/ratingApiClient.test.ts
  mcp/src/test/ratingMcpTools.test.ts
  mcp/src/test/readStatus.test.ts
Due: mcp-lint

✨ 未評価記事取得機能の実装 - Issue #610
  api/src/interfaces/repository/bookmark.ts
  api/src/interfaces/service/bookmark.ts
  api/src/repositories/bookmark.ts
  api/src/routes/bookmarks.ts
  api/src/services/bookmark.ts
  api/tests/unit/repositories/unratedBookmarks.test.ts
  api/tests/unit/routes/unratedBookmarks.test.ts
  api/tests/unit/services/unratedBookmarks.test.ts
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
  mcp/src/test/apiClientUnratedArticles.test.ts
  mcp/src/test/getUnratedArticles.test.ts
  mcp/src/test/indexBasicTools.test.ts
Due: api-lint, mcp-lint

🔧 CI修正: ArticleSchema更新に伴うテストデータ修正
  mcp/src/test/apiClientExtended.test.ts
Due: mcp-lint

test(mcp): 総合カバレッジ42.1%達成 - 戦略的テスト拡充による大幅改善
  mcp/src/lib/articleContentFetcher.ts
  mcp/src/test/articleContentFetcherAdvanced.test.ts
  mcp/src/test/articleContentFetcherCoverage.test.ts
  mcp/src/test/articleContentFetcherInternal.test.ts
  mcp/src/test/indexBulkRatingTest.test.ts
  mcp/src/test/indexToolsExecution.test.ts
  mcp/src/test/massiveIndexCoverage.test.ts
  mcp/src/test/vitestInlineTests.test.ts
Due: mcp-lint

✨ Claude Code カスタムコマンド実装 - Issue #542
  claude-code-commands/README.md
  claude-code-commands/biome.json
  claude-code-commands/examples/urls.txt
  claude-code-commands/package-lock.json
  claude-code-commands/package.json
  claude-code-commands/src/commands/rateArticle.ts
  claude-code-commands/src/commands/rateArticlesBatch.ts
  claude-code-commands/src/index.ts
  claude-code-commands/src/lib/apiClient.ts
  claude-code-commands/src/lib/contentExtractor.ts
  claude-code-commands/src/lib/evaluator.ts
  claude-code-commands/src/lib/utils.ts
  claude-code-commands/src/types/index.ts
  claude-code-commands/tsconfig.json
  claude-code-commands/vitest.config.d.ts
  claude-code-commands/vitest.config.js
  claude-code-commands/vitest.config.ts
Due: none

Update api-lint.yml
  .github/workflows/api-lint.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Create auto-rabeling.md
  .github/workflows/auto-rabeling.md
Due: none

Create labeling.yml
  .github/workflows/labeling.yml
Due: none

fix: 不要ファイルを削除
  .github/workflows/auto-rabeling.md
  .github/workflows/claude.yml
Due: none

feat: Claude自動ラベリングワークフローに定期実行を追加
  .github/workflows/labeling.yml
Due: none

feat: 未評価記事取得機能の実装 - API・MCP対応
  api/tests/unit/repositories/unratedBookmarks.test.ts
  api/tests/unit/routes/unratedBookmarks.test.ts
  api/tests/unit/services/unratedBookmarks.test.ts
  mcp/src/lib/apiClient.ts
  mcp/src/test/apiClientUnratedArticles.test.ts
  mcp/src/test/getUnratedArticles.test.ts
Due: api-lint, mcp-lint

fix: MCPテストのnoDeleteエラーを修正
  mcp/src/test/apiClientUnratedArticles.test.ts
Due: mcp-lint

fix: BookmarkWithLabel型をエクスポートして型エラーを修正
  mcp/src/lib/apiClient.ts
  mcp/src/test/apiClientUnratedArticles.test.ts
Due: mcp-lint

fix: noExplicitAnyエラーを修正
  mcp/src/test/apiClientUnratedArticles.test.ts
Due: mcp-lint

fix: 非nullアサーションを削除してlintエラーを修正
  api/tests/unit/routes/unratedBookmarks.test.ts
Due: api-lint

fix: labelのdescriptionをnullableにし、テストデータにupdatedAtを追加
  mcp/src/lib/apiClient.ts
  mcp/src/test/getUnratedArticles.test.ts
Due: mcp-lint

✨ feat: MCPテストカバレッジ42.47%から43.98%に向上
  mcp/src/test/issue590ApiClientCoverage.test.ts
  mcp/src/test/issue590BookmarkCoverage.test.ts
  mcp/src/test/issue590Coverage.test.ts
  mcp/src/test/issue590FetcherCoverage.test.ts
  mcp/src/test/issue590Final50Coverage.test.ts
  mcp/src/test/issue590MainFunctionCoverage.test.ts
Due: mcp-lint

🔧 fix: mcp-lint.ymlにnpmキャッシュ設定を追加
  .github/workflows/mcp-lint.yml
Due: none

🔧 fix: mcp-lint.ymlをubuntu-latestに変更
  .github/workflows/mcp-lint.yml
Due: none

🔧 fix: TypeScript型エラーを修正してCI lint問題を解決
  mcp/src/test/issue590FetcherCoverage.test.ts
  mcp/src/test/issue590Final50Coverage.test.ts
  mcp/src/test/issue590MainFunctionCoverage.test.ts
Due: mcp-lint

✨ feat: MCPテストカバレッジ100%達成を目指す包括的テストスイート実装
  mcp/src/test/articleContentFetcherAdvanced.test.ts
  mcp/src/test/articleContentFetcherIntegration.test.ts
  mcp/src/test/articleContentFetcherMajorCoverage.test.ts
  mcp/src/test/indexInitializationCoverage.test.ts
  mcp/src/test/indexMajorCoverage.test.ts
  mcp/src/test/indexSimpleCoverage.test.ts
  mcp/src/test/indexSpecificCoverage.test.ts
Due: mcp-lint

🔧 fix: Biome lintエラー部分修正 - 38→24エラーに削減
  mcp/src/test/articleContentFetcherIntegration.test.ts
  mcp/src/test/articleContentFetcherMajorCoverage.test.ts
  mcp/src/test/indexInitializationCoverage.test.ts
  mcp/src/test/indexMajorCoverage.test.ts
  mcp/src/test/indexSimpleCoverage.test.ts
  mcp/src/test/indexSpecificCoverage.test.ts
Due: mcp-lint
