Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

api-lint:
  run: bunx @biomejs/biome check --write {staged_files}

frontend-lint:
  run: bunx @biomejs/biome check --write {staged_files}

extension-lint:
  run: bunx @biomejs/biome check --write {staged_files}

mcp-lint:
  run: bunx @biomejs/biome check --write {staged_files}

🐛 fix: ラベル付与失敗時の詳細を表示
  mcp/src/lib/apiClient.ts
Due: mcp-lint

🧹 chore: MCP出力の標準出力ログを整理
  mcp/src/index.ts
  mcp/src/lib/apiClient.ts
Due: mcp-lint

⬇️ fix: MCPのZod互換性を確保
  mcp/package.json
  mcp/pnpm-lock.yaml
Due: mcp-lint

🛠️ chore: MCP設計とテスト周りを整理
  .github/workflows/ci-mcp.yml
  docs/設計/mcp-サーバー設計.md
  mcp/package.json
  mcp/pnpm-lock.yaml
  mcp/src/index.ts
  mcp/src/lib/apiClient.test.ts
  mcp/src/lib/apiClient.ts
  mcp/src/tools.test.ts
  mcp/src/tools.ts
Due: mcp-lint

🧹 chore: OpenAI運用に合わせて.claudeを削除
  .claude/commands/z-ci-check.md
  .claude/commands/z-orchestrator.md
  .claude/commands/z-reset.md
  .claude/commands/z-similarity-ts.md
  .claude/commands/z-yolo-bdd-rgbc.md
  .gitignore
Due: none

🗑️ chore: bookshelfページ削除で不要導線を整理
  frontend/src/app/bookshelf/[id]/page.tsx
  frontend/src/app/bookshelf/page.test.tsx
  frontend/src/app/bookshelf/page.tsx
Due: frontend-lint

🗑️ chore: .vscode/settings.jsonを削除
  frontend/.vscode/settings.json
Due: frontend-lint

🧹 chore: bookshelf機能一式を削除
  frontend/src/features/bookshelf/components/AddBookButton.tsx
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookCard.tsx
  frontend/src/features/bookshelf/components/BookForm.tsx
  frontend/src/features/bookshelf/components/BookGrid.tsx
  frontend/src/features/bookshelf/components/BooksList.tsx
  frontend/src/features/bookshelf/components/BookshelfList.tsx
  frontend/src/features/bookshelf/components/EditBookModal.tsx
  frontend/src/features/bookshelf/components/StatusTabs.tsx
  frontend/src/features/bookshelf/components/index.ts
  frontend/src/features/bookshelf/hooks/useBookshelf.ts
  frontend/src/features/bookshelf/hooks/useFocusTrap.ts
  frontend/src/features/bookshelf/hooks/useMockBookshelf.ts
  frontend/src/features/bookshelf/mocks/mockData.ts
  frontend/src/features/bookshelf/queries/api.ts
  frontend/src/features/bookshelf/queries/queryKeys.ts
  frontend/src/features/bookshelf/queries/useCreateBook.ts
  frontend/src/features/bookshelf/queries/useDeleteBook.ts
  frontend/src/features/bookshelf/queries/useGetBook.ts
  frontend/src/features/bookshelf/queries/useGetBooks.ts
  frontend/src/features/bookshelf/queries/useUpdateBook.ts
  frontend/src/features/bookshelf/queries/useUpdateBookStatus.ts
  frontend/src/features/bookshelf/types.ts
Due: frontend-lint

🧹 chore: 未使用のapi/.githubディレクトリを削除して配置を集約
  api/.github/docs/self-hosted-runner-setup.md
Due: none

🧹 chore: 本棚APIエンドポイントと関連コードを削除
  api/src/db/schema.ts
  api/src/db/schema/bookshelf.ts
  api/src/exceptions/bookshelf.ts
  api/src/index.ts
  api/src/interfaces/repository/book.ts
  api/src/repositories/BookRepository.test.ts
  api/src/repositories/BookRepository.ts
  api/src/routes/bookshelf.ts
  api/src/services/BookshelfService.test.ts
  api/src/services/BookshelfService.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🎨 fix: アクションボタンを右寄せして視覚的なずれを解消
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
Due: frontend-lint

🧹 chore: docsディレクトリを一時削除
  docs-archive.md
  docs/ADR/001-プロジェクトのアクセス制御・認証に関する記録.md
  docs/ADR/002-TanStack-Query導入によるフロントエンド状態管理の改善.md
  docs/ADR/003-フロントエンド機能ベースディレクトリ構成の導入.md
  docs/機能仕様/お気に入り/01_概要.md
  docs/機能仕様/お気に入り/02_データモデル.md
  docs/機能仕様/お気に入り/03_API設計.md
  docs/機能仕様/お気に入り/04_フロントエンド設計.md
  docs/機能仕様/ラベリング機能/01_概要.md
  docs/機能仕様/ラベリング機能/02_機能要件.md
  docs/機能仕様/ラベリング機能/03_データモデル.md
  docs/機能仕様/ラベリング機能/04_API設計.md
  docs/機能仕様/ラベリング機能/05_フロントエンド設計.md
  docs/機能仕様/ラベリング機能/06_Claude連携.md
  docs/機能仕様/ラベリング機能/07_自動ラベル付け.md
  docs/機能仕様/ラベリング機能/拡張機能/ラベル説明文追加.md
  docs/機能仕様/拡張機能/01_概要.md
  docs/機能仕様/拡張機能/02_データモデル.md
  docs/機能仕様/拡張機能/03_API設計.md
  docs/機能仕様/拡張機能/04_拡張機能実装.md
  docs/機能仕様/最近読んだ記事/01_概要.md
  docs/機能仕様/最近読んだ記事/02_データモデル.md
  docs/機能仕様/最近読んだ記事/03_API設計.md
  docs/機能仕様/最近読んだ記事/04_フロントエンド実装.md
  docs/機能仕様/未読記事一覧/01_概要.md
  docs/機能仕様/未読記事一覧/02_データモデル.md
  docs/機能仕様/未読記事一覧/03_API設計.md
  docs/機能仕様/未読記事一覧/04_フロントエンド設計.md
  docs/機能仕様/記事要約機能/01_概要.md
  docs/機能仕様/記事要約機能/02_データモデル.md
  docs/機能仕様/記事要約機能/03_MCP設計.md
  docs/機能仕様/記事要約機能/04_UI設計.md
  docs/機能仕様/記事要約機能/05_実装計画.md
  docs/設計/mcp-サーバー設計.md
Due: none

🧹 chore: docs削除の付随ファイルを整理
  docs-archive.md
Due: none

🧹 chore: 不要なドキュメント作成方針セクションを削除
  README.md
Due: none

🗑️ chore: 未使用ratingsページを削除して導線を整理
  frontend/src/app/ratings/page.test.tsx.skip
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: frontend-lint

🧹 chore: 誤コミットされたバックアップSQLを削除し再発防止
  api/.gitignore
  api/backup_20250524_124822.sql
  api/backup_20250524_124829.sql
  api/backup_20250602_142758.sql
  api/backup_prod_20250524_124840.sql
Due: none

🧹 chore: 古いDB構成ドキュメントを削除し参照を整理
  api/DATABASE_CONFIG.md
Due: none

📝 docs: frontend/frontend削除済み確認を記録
  docs/issues/1023.md
Due: none

🧹 chore: 不要なドキュメントを削除
  docs/issues/1023.md
Due: none

🧹 chore: worker-configuration.d.ts をGit管理から除外
  api/.gitignore
  api/worker-configuration.d.ts
Due: api-lint

chore: lintエラー解消のためBiome設定とparseIntを修正
  api/biome.json
  api/src/config/index.ts
  api/src/utils/validation.ts
  api/tests/unit/routes/labels.test.ts
Due: api-lint

README.mdファイルを削除
  frontend/README.md
Due: none

🧹 chore: Homeページの冗長テストを削除
  frontend/src/app/page.test.tsx
Due: frontend-lint

🧹 chore: RootLayoutの冗長テストを削除
  frontend/src/app/layout.test.tsx
Due: frontend-lint

chore: 装飾依存のLoadingテストを削除し確認粒度を整理
  frontend/src/app/loading.test.tsx
Due: frontend-lint

🧹 chore: UI装飾依存で脆いErrorページテストを削除し保守負荷を下げる
  frontend/src/app/error.test.tsx
Due: frontend-lint

🧹 chore: React Query内部依存テストを削除し設定変更時の脆さを解消
  frontend/src/providers/QueryProvider.test.tsx
Due: frontend-lint

🧹 chore: Buttonスタイル依存テストを削除しデザイン変更への耐性を上げる
  frontend/src/components/Button.test.tsx
Due: frontend-lint

🛠️ fix: Toastの自動閉鎖テスト警告を解消してログを静穏化
  frontend/src/components/Toast/Toast.test.tsx
  frontend/src/providers/ToastProvider.tsx
Due: frontend-lint

fix: エラー修正対応
  api/biome.json
  api/wrangler.jsonc
Due: api-lint

fix: Next 14へ戻してWorkersでのchunk読み込み500を解消
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend-lint

chore: Next 14では不要なtsconfig includeを削除
  frontend/tsconfig.json
Due: frontend-lint

fix: Next 15に更新してOpenNext対応範囲に合わせる
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-lint

fix: React 19系に戻してNext 15互換を確保
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-lint

Knip を拡張機能パッケージに導入し、実行フローを整備しました。
  extension/README.md
  extension/knip.json
  extension/package.json
  extension/pnpm-lock.yaml
Due: extension-lint

**対応内容** - `pnpm format`実行時に`npx`経由でnpmが呼ばれて警告が出ていたため、`pnpm exec`/`pnpm dlx`に置き換えてpnpmネイティブの実行経路に統一しました (`api/package.json:5`, `api/package.json:8`, `api/package.json:9`, `api/package.json:22-26`)。
  api/package.json
Due: api-lint

fix: 🧹 npm warningを避けるためpnpm formatでbiomeを直接実行
  api/package.json
Due: api-lint

## Summary
  extension/README.md
Due: none

完了しました。変更内容：
  extension/README.md
  extension/package.json
Due: extension-lint

## 完了しました
  .github/workflows/ci-extension.yml
  extension/package.json
Due: extension-lint

Path conditions:
  api-lint: any of: **/*.{ts,js,json} and ^api/
  frontend-lint: any of: **/*.{ts,tsx,js,jsx,json} and ^frontend/
  extension-lint: any of: **/*.{js,json,html,css} and ^extension/
  mcp-lint: any of: **/*.{ts,js,json} and ^mcp/
