Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

✨ feat: Linear連携ルールをClaude Code設定に追加
  .claude/rules/linear.md
  CLAUDE.md
Due: none

⬆️ chore(frontend): Next.js 16.1.1とOpenNext 1.14.8にアップグレード
  frontend/package.json
  frontend/tsconfig.json
  pnpm-lock.yaml
Due: frontend-lint

⬇️ revert(frontend): Next.js 16.1.1→15.5.6とOpenNext 1.14.8→1.11.0にダウングレード
  frontend/package.json
  frontend/tsconfig.json
  pnpm-lock.yaml
Due: frontend-lint

📝 docs: Linear MCP連携セクションを復元
  .claude/rules/linear.md
  CLAUDE.md
Due: none

🐛 fix: CI失敗を修正（label関連の残存参照とknip未使用コード削除）
  api/src/exceptions/http.ts
  api/src/exceptions/index.ts
  api/src/routes/bookmarks-unread.test.ts
  frontend/src/features/bookmarks/components/BookmarksList.test.tsx
  frontend/src/features/bookmarks/queries/useMarkBookmarkAsUnread.ts
Due: api-lint, frontend-lint

🐛 fix: フロントエンドknip未使用ファイル削除
  frontend/src/components/Button/index.ts
Due: frontend-lint

🗑️ fix: Headerからラベル設定ページへのリンクを削除
  frontend/src/components/Header/Header.test.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/__snapshots__/Header.test.tsx.snap
Due: frontend-lint

docs: コミットメッセージの絵文字使用を禁止
  CLAUDE.md
Due: none

feat: ブックマークカードに既読チェックアイコンを追加
  frontend/src/features/bookmarks/components/BookmarkCard.test.tsx
  frontend/src/features/bookmarks/components/BookmarkCard.tsx
  pnpm-lock.yaml
Due: frontend-lint

chore: pnpm-lock.yamlを更新
  pnpm-lock.yaml
Due: none

feat: OpenNext 1.16.3 + Next.js 16.1.6 にアップデート
  frontend/package.json
  frontend/tsconfig.json
  pnpm-lock.yaml
Due: frontend-lint

feat: GitHub Actions を廃止し Lefthook でローカルチェックに移行
  .github/dependabot.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/deploy.yml
  CLAUDE.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

fix: AI レビュー指摘事項を修正
  .github/copilot/instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  api/README.md
  docs/design/001_開発環境の仕様.md
  lefthook.yml
  package.json
Due: none

fix: 再レビュー指摘事項を修正
  lefthook.yml
Due: none

fix: マルチラインスクリプトに set -e を追加
  lefthook.yml
Due: none

chore: ライブラリを最新バージョンに更新
  api/biome.json
  api/package.json
  extension/biome.json
  extension/package.json
  extension/popup/popup.html
  frontend/biome.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: api-lint, frontend-lint, extension-lint

chore: orval 8.4.2 に合わせて生成ファイルを再生成
  api/src/generated/openapi-client.ts
  api/src/generated/openapi-schemas/bookmark.ts
  api/src/generated/openapi-schemas/bookmarkListResponse.ts
  api/src/generated/openapi-schemas/bookmarkWithFavorite.ts
  api/src/generated/openapi-schemas/bulkBookmarksRequest.ts
  api/src/generated/openapi-schemas/bulkBookmarksRequestBookmarksItem.ts
  api/src/generated/openapi-schemas/errorResponse.ts
  api/src/generated/openapi-schemas/favoriteBookmarksResponse.ts
  api/src/generated/openapi-schemas/index.ts
  api/src/generated/openapi-schemas/recentBookmarksResponse.ts
  api/src/generated/openapi-schemas/recentBookmarksResponseBookmarks.ts
  api/src/generated/openapi-schemas/successResponse.ts
  frontend/src/lib/openapi/browser/index.ts
  frontend/src/lib/openapi/browser/schemas/bookmark.ts
  frontend/src/lib/openapi/browser/schemas/bookmarkListResponse.ts
  frontend/src/lib/openapi/browser/schemas/bookmarkWithFavorite.ts
  frontend/src/lib/openapi/browser/schemas/bulkBookmarksRequest.ts
  frontend/src/lib/openapi/browser/schemas/bulkBookmarksRequestBookmarksItem.ts
  frontend/src/lib/openapi/browser/schemas/errorResponse.ts
  frontend/src/lib/openapi/browser/schemas/favoriteBookmarksResponse.ts
  frontend/src/lib/openapi/browser/schemas/index.ts
  frontend/src/lib/openapi/browser/schemas/messageResponse.ts
  frontend/src/lib/openapi/browser/schemas/recentBookmarksResponse.ts
  frontend/src/lib/openapi/browser/schemas/recentBookmarksResponseBookmarks.ts
  frontend/src/lib/openapi/browser/schemas/successResponse.ts
  frontend/src/lib/openapi/server/index.ts
  frontend/src/lib/openapi/server/schemas/bookmark.ts
  frontend/src/lib/openapi/server/schemas/bookmarkListResponse.ts
  frontend/src/lib/openapi/server/schemas/bookmarkWithFavorite.ts
  frontend/src/lib/openapi/server/schemas/bulkBookmarksRequest.ts
  frontend/src/lib/openapi/server/schemas/bulkBookmarksRequestBookmarksItem.ts
  frontend/src/lib/openapi/server/schemas/errorResponse.ts
  frontend/src/lib/openapi/server/schemas/favoriteBookmarksResponse.ts
  frontend/src/lib/openapi/server/schemas/index.ts
  frontend/src/lib/openapi/server/schemas/messageResponse.ts
  frontend/src/lib/openapi/server/schemas/recentBookmarksResponse.ts
  frontend/src/lib/openapi/server/schemas/recentBookmarksResponseBookmarks.ts
  frontend/src/lib/openapi/server/schemas/successResponse.ts
Due: api-lint, frontend-lint

feat: /deploy スラッシュコマンド用 Claude Code Skill を追加
  .claude/skills/deploy/SKILL.md
  .gitignore
  CLAUDE.md
  backups/.gitkeep
  docs/spec/deploy用ClaudeCodeSkill/plan.md
  docs/spec/deploy用ClaudeCodeSkill/research.md
  docs/spec/deploy用ClaudeCodeSkill/spec.md
Due: none

fix: /deploy Skill で api/.env を自動読み込みするよう修正
  .claude/skills/deploy/SKILL.md
Due: none

🐛 fix: seed.tsの削除済みlabels参照を除去
  api/src/db/seed/seed.ts
Due: api-lint

docs: linear関連の記述を削除
  .claude/rules/linear.md
  CLAUDE.md
Due: none

chore: D1マイグレーション0003を追加（article_labels/books/labelsテーブルを削除）
  api/drizzle/0003_sloppy_aqueduct.sql
  api/drizzle/meta/0003_snapshot.json
  api/drizzle/meta/_journal.json
Due: api-lint

fix: created_at/updated_at のデフォルト値を sql`(unixepoch())` に修正
  api/drizzle/0004_slimy_trish_tilby.sql
  api/drizzle/meta/0004_snapshot.json
  api/drizzle/meta/_journal.json
  api/src/db/schema.ts
Due: api-lint

fix: 0003マイグレーションのDROP文をIF EXISTSに修正
  api/drizzle/0003_sloppy_aqueduct.sql
Due: none

docs: macOSクライアントのresearch/spec/planを追加
  docs/spec/macOSクライアント/plan.md
  docs/spec/macOSクライアント/research.md
  docs/spec/macOSクライアント/spec.md
Due: none

feat: macOSクライアント Phase 1-2 実装（プロジェクトセットアップ・UI基盤）
  macos-app/.gitignore
  macos-app/Sources/App/ContentView.swift
  macos-app/Sources/App/YomimonoApp.swift
  macos-app/Sources/Features/Favorites/FavoritesView.swift
  macos-app/Sources/Features/Favorites/FavoritesViewModel.swift
  macos-app/Sources/Features/RSS/RSSFeedListView.swift
  macos-app/Sources/Features/Recent/RecentView.swift
  macos-app/Sources/Features/Recent/RecentViewModel.swift
  macos-app/Sources/Features/Unread/UnreadBookmarksView.swift
  macos-app/Sources/Features/Unread/UnreadBookmarksViewModel.swift
  macos-app/Sources/Info.plist
  macos-app/Sources/Models/Bookmark.swift
  macos-app/Sources/Services/BookmarkAPIClient.swift
  macos-app/Sources/Settings/SettingsView.swift
  macos-app/Sources/Shared/Components/BookmarkCardView.swift
  macos-app/Sources/yomimono.entitlements
  macos-app/project.yml
  macos-app/yomimono.xcodeproj/project.pbxproj
  macos-app/yomimono.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  macos-app/yomimono.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

feat: macOSクライアント Phase 3-4 実装（RSS取得・CLI連携）
  macos-app/Sources/Features/RSS/ArticleSummaryView.swift
  macos-app/Sources/Features/RSS/RSSFeedListView.swift
  macos-app/Sources/Features/RSS/RSSFeedViewModel.swift
  macos-app/Sources/Models/RSSFeed.swift
  macos-app/Sources/Services/CLIRunner.swift
  macos-app/Sources/Services/RSSFeedStore.swift
  macos-app/Sources/Services/RSSService.swift
  macos-app/Sources/Shared/Components/BookmarkCardView.swift
  macos-app/yomimono.xcodeproj/project.pbxproj
Due: none

fix: macOSアプリのAIレビュー指摘事項を修正
  macos-app/Sources/Features/Favorites/FavoritesView.swift
  macos-app/Sources/Features/Favorites/FavoritesViewModel.swift
  macos-app/Sources/Features/RSS/ArticleSummaryView.swift
  macos-app/Sources/Features/RSS/RSSFeedViewModel.swift
  macos-app/Sources/Features/Recent/RecentView.swift
  macos-app/Sources/Features/Recent/RecentViewModel.swift
  macos-app/Sources/Features/Unread/UnreadBookmarksView.swift
  macos-app/Sources/Features/Unread/UnreadBookmarksViewModel.swift
  macos-app/Sources/Models/Bookmark.swift
  macos-app/Sources/Models/RSSFeed.swift
  macos-app/Sources/Services/CLIRunner.swift
  macos-app/Sources/Services/RSSFeedStore.swift
  macos-app/Sources/Settings/SettingsView.swift
  macos-app/Sources/Shared/Components/BookmarkCardView.swift
  macos-app/yomimono.xcodeproj/project.pbxproj
Due: none

refactor: macOSアプリのコードを簡素化
  macos-app/Sources/Features/Favorites/FavoritesViewModel.swift
  macos-app/Sources/Features/RSS/RSSFeedViewModel.swift
  macos-app/Sources/Features/Recent/RecentViewModel.swift
  macos-app/Sources/Features/Unread/UnreadBookmarksViewModel.swift
  macos-app/Sources/Models/Bookmark.swift
  macos-app/Sources/Services/CLIRunner.swift
Due: none

feat: macOSアプリにアプリアイコンを設定
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/Contents.json
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/icon_1024.png
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/icon_128.png
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/icon_16.png
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/icon_256.png
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/icon_32.png
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/icon_512.png
  macos-app/Sources/Assets.xcassets/AppIcon.appiconset/icon_64.png
  macos-app/Sources/Assets.xcassets/Contents.json
  macos-app/project.yml
  macos-app/scripts/generate_icon.swift
  macos-app/scripts/icons/icon_1024.png
  macos-app/scripts/icons/icon_128.png
  macos-app/scripts/icons/icon_16.png
  macos-app/scripts/icons/icon_256.png
  macos-app/scripts/icons/icon_32.png
  macos-app/scripts/icons/icon_512.png
  macos-app/scripts/icons/icon_64.png
  macos-app/yomimono.xcodeproj/project.pbxproj
Due: none

fix: お気に入りAPIレスポンスのtotalフィールド不一致を修正
  macos-app/Sources/Features/Favorites/FavoritesViewModel.swift
  macos-app/Sources/Models/Bookmark.swift
Due: none
