Repository ryosuke-horie/yomimono: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, frontend-lint, extension-lint, mcp-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "api/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    api-knip:
      root: "api/"
      run: bunx knip
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json}"
      run: bunx @biomejs/biome check --write {staged_files}
    frontend-knip:
      root: "frontend/"
      run: bunx knip
    extension-lint:
      root: "extension/"
      glob: "**/*.{js,json,html,css}"
      run: bunx @biomejs/biome check --write {staged_files}
    extension-knip:
      root: "extension/"
      run: bunx knip
    mcp-lint:
      root: "mcp/"
      glob: "**/*.{ts,js,json}"
      run: bunx @biomejs/biome check --write {staged_files}

🔧 セルフホストランナーでcorepackを削除、deployワークフローはpnpm actionを使用
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
Due: none

🔧 --frozen-lockfileフラグを削除（セルフホストランナー対応）
  .github/workflows/auto-labeling.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
  .github/workflows/manual-labeling.yml
Due: none

🔧 package.jsonにpackageManagerフィールドを追加してpnpmを明示的に指定
  api/package.json
  extension/package.json
  frontend/package.json
  mcp/package.json
  package.json
Due: api-lint, frontend-lint, extension-lint, mcp-lint

🔧 セルフホストランナーにpnpm/action-setupを追加
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
Due: none

🔧 pnpmバージョン競合を解決 - ワークフローからバージョン指定を削除
  .github/workflows/auto-labeling.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
  .github/workflows/manual-labeling.yml
Due: none

🔧 Dependabotにルートディレクトリの設定を追加
  .github/dependabot.yml
Due: none

🔧 セルフホストランナーのクリーンアップ処理を追加 & npm残存箇所を修正
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
  frontend/package.json
Due: frontend-lint

🔧 セルフホストランナーのpnpm環境問題を修正
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
Due: none

🔧 pnpmセットアップを改善 - クリーンアップとバージョン指定を統一
  .github/workflows/ci-api.yml
  .github/workflows/ci-extension.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/deploy.yml
  api/package.json
  extension/package.json
  frontend/package.json
  mcp/package.json
  package.json
Due: api-lint, frontend-lint, extension-lint, mcp-lint

🐛 pnpm/action-setupエラー修正: packageManagerフィールドを追加
  package.json
Due: none

🔧 pnpm専用環境を強制するためpreinstallスクリプトを追加
  api/package.json
  extension/package.json
  frontend/package.json
  mcp/package.json
  package.json
Due: api-lint, frontend-lint, extension-lint, mcp-lint

✨ 本棚機能のデータベーススキーマを追加
  api/drizzle/0002_whole_nicolaos.sql
  api/drizzle/meta/0002_snapshot.json
  api/drizzle/meta/_journal.json
  api/src/db/schema.ts
  api/src/db/schema/bookshelf.ts
Due: api-lint

🐛 スキーマの重複を修正
  api/src/db/schema.ts
Due: api-lint

🐛 自動ラベル付けワークフローの修正とフォールバック機能追加
  .github/scripts/auto-label.js
  .github/workflows/auto-labeling.yml
Due: none

feat(#804): 本棚機能のRepository層を実装
  api/src/interfaces/repository/book.ts
  api/src/repositories/BookRepository.test.ts
  api/src/repositories/BookRepository.ts
Due: api-lint

🐛 Next.jsを15.3.0にダウングレードしてOpenNext Cloudflareとの互換性を修正
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-lint

🐛 Lintエラーを修正 (any型の排除とインポート整理)
  api/src/interfaces/repository/book.ts
  api/src/repositories/BookRepository.test.ts
  api/src/repositories/BookRepository.ts
Due: api-lint

feat(#805): 本棚機能のService層を実装 - TDDサイクルでの開発完了
  api/src/services/BookshelfService.test.ts
  api/src/services/BookshelfService.ts
Due: api-lint

feat(#806): 本棚機能のAPIエンドポイントを実装
  api/src/index.ts
  api/src/routes/bookshelf.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

🔧 本棚機能のPUTエンドポイントで型安全性を改善 (#825)
  api/src/routes/bookshelf.ts
Due: api-lint

feat(#808): 本棚機能のフロントエンド一覧画面を実装
  frontend/app/bookshelf/page.tsx
  frontend/features/bookshelf/components/AddBookButton.tsx
  frontend/features/bookshelf/components/AddBookModal.tsx
  frontend/features/bookshelf/components/BookCard.tsx
  frontend/features/bookshelf/components/BookGrid.tsx
  frontend/features/bookshelf/components/BookshelfList.tsx
  frontend/features/bookshelf/components/StatusTabs.tsx
  frontend/features/bookshelf/hooks/useBookshelf.ts
  frontend/features/bookshelf/types/index.ts
  frontend/test-utils.tsx
Due: frontend-lint

fix: ディレクトリ構造を修正してビルドエラーを解消
  frontend/src/app/bookshelf/page.tsx
  frontend/src/features/bookshelf/components/AddBookButton.tsx
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookCard.tsx
  frontend/src/features/bookshelf/components/BookGrid.tsx
  frontend/src/features/bookshelf/components/BookshelfList.tsx
  frontend/src/features/bookshelf/components/StatusTabs.tsx
  frontend/src/features/bookshelf/hooks/useBookshelf.ts
  frontend/src/features/bookshelf/types/index.ts
  frontend/src/test-utils.tsx
Due: frontend-lint

fix: Lintエラーを修正
  frontend/src/features/bookshelf/hooks/useBookshelf.ts
  frontend/src/test-utils.tsx
Due: frontend-lint

fix: BookGridコンポーネントのテストを修正
  frontend/src/features/bookshelf/components/BookGrid.tsx
Due: frontend-lint

refactor(#826): 本棚機能のエラーハンドリングをカスタムエラークラスで改善
  api/src/exceptions/bookshelf.ts
  api/src/routes/bookshelf.ts
  api/src/services/BookshelfService.test.ts
  api/src/services/BookshelfService.ts
  api/tests/unit/routes/bookshelf.test.ts
Due: api-lint

fix: フォーマット修正
  frontend/src/features/bookshelf/components/BookGrid.tsx
Due: frontend-lint

fix: テストのメモリリークを修正
  frontend/src/app/bookshelf/page.test.tsx
  frontend/src/app/bookshelf/page.tsx
Due: frontend-lint

fix: Lintエラーを修正（import順序とフォーマット）
  frontend/src/app/bookshelf/page.test.tsx
Due: frontend-lint

fix: テストのメモリ不足問題を解決
  frontend/src/features/bookshelf/components/AddBookButton.test.tsx
  frontend/src/features/bookshelf/components/AddBookButton.tsx
  frontend/src/features/bookshelf/components/AddBookModal.test.tsx
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookCard.test.tsx
  frontend/src/features/bookshelf/components/BookCard.tsx
  frontend/src/features/bookshelf/components/BookGrid.test.tsx
  frontend/src/features/bookshelf/components/BookGrid.tsx
  frontend/src/features/bookshelf/components/BookshelfList.test.tsx
  frontend/src/features/bookshelf/components/BookshelfList.tsx
  frontend/src/features/bookshelf/components/StatusTabs.test.tsx
  frontend/src/features/bookshelf/components/StatusTabs.tsx
  frontend/src/features/bookshelf/hooks/useBookshelf.test.ts
  frontend/src/features/bookshelf/hooks/useBookshelf.ts
Due: frontend-lint

✨ feat(#808): 本棚機能のフロントエンド一覧画面を実装
  frontend/next.config.mjs
  frontend/src/app/bookshelf/page.test.tsx
  frontend/src/app/bookshelf/page.tsx
  frontend/src/features/bookshelf/components/AddBookModal.test.tsx
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookCard.test.tsx
  frontend/src/features/bookshelf/components/BookCard.tsx
  frontend/src/features/bookshelf/components/BookGrid.test.tsx
  frontend/src/features/bookshelf/components/BookGrid.tsx
  frontend/src/features/bookshelf/components/BooksList.tsx
  frontend/src/features/bookshelf/components/BookshelfList.test.tsx
  frontend/src/features/bookshelf/components/BookshelfList.tsx
  frontend/src/features/bookshelf/components/StatusTabs.test.tsx
  frontend/src/features/bookshelf/components/StatusTabs.tsx
  frontend/src/features/bookshelf/hooks/useBookshelf.ts
  frontend/src/features/bookshelf/queries/api.ts
  frontend/src/features/bookshelf/queries/queryKeys.ts
  frontend/src/features/bookshelf/queries/useCreateBook.ts
  frontend/src/features/bookshelf/queries/useDeleteBook.ts
  frontend/src/features/bookshelf/queries/useGetBooks.ts
  frontend/src/features/bookshelf/queries/useUpdateBookStatus.ts
  frontend/src/features/bookshelf/types.ts
  frontend/src/test-utils.tsx
Due: frontend-lint

♻️ refactor(#808): CLAUDE.md準拠のテスト実装に修正
  frontend/src/features/bookshelf/components/AddBookButton.test.tsx
  frontend/src/features/bookshelf/components/AddBookModal.test.tsx
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookCard.test.tsx
  frontend/src/features/bookshelf/components/BookCard.tsx
  frontend/src/features/bookshelf/components/BookGrid.test.tsx
  frontend/src/features/bookshelf/components/BookshelfList.test.tsx
  frontend/src/features/bookshelf/components/StatusTabs.test.tsx
  frontend/src/features/bookshelf/hooks/useBookshelf.test.ts
Due: frontend-lint

🔧 fix: レビュー指摘事項の修正
  frontend/.env.example
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookCard.tsx
  frontend/src/features/bookshelf/hooks/useBookshelf.ts
  frontend/src/features/bookshelf/hooks/useMockBookshelf.ts
  frontend/src/features/bookshelf/mocks/mockData.ts
Due: frontend-lint

🎨 fix: Biomeフォーマッターのエラーを修正
  frontend/src/features/bookshelf/components/AddBookModal.tsx
Due: frontend-lint

🐛 fix(#834): 自動ラベル付けワークフローの信頼性向上
  .github/scripts/auto-label.js
  .github/workflows/auto-labeling.yml
Due: none

✨ feat(#809): 本棚機能の追加・編集フォームを実装
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookForm.tsx
  frontend/src/features/bookshelf/components/EditBookModal.tsx
  frontend/src/features/bookshelf/components/index.ts
  frontend/src/features/bookshelf/queries/useUpdateBook.ts
Due: frontend-lint

🐛 fix: CI失敗を修正 - テストエラーとバリデーション表示の問題を解決
  frontend/src/features/bookshelf/components/BookForm.tsx
  frontend/src/features/bookshelf/components/EditBookModal.tsx
  frontend/src/features/bookshelf/queries/useUpdateBook.ts
Due: frontend-lint

✅ test: CIテストエラーを修正
  frontend/src/features/bookshelf/components/AddBookModal.tsx
  frontend/src/features/bookshelf/components/BookForm.tsx
  frontend/src/features/bookshelf/components/EditBookModal.tsx
Due: frontend-lint

🐛 fix: ビルドエラーを修正 - 型の不整合を解決
  frontend/src/features/bookshelf/components/AddBookModal.tsx
Due: frontend-lint

🐛 fix: TypeScriptビルドエラーを修正
  frontend/src/features/bookshelf/components/BookForm.tsx
Due: frontend-lint
